@import url(assets/fonts/stylesheet.css);
@import url(assets/fonts/stylesheet.css);
.wrapper {
	max-width: 1224px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100vw - 60px);
}

@media (max-width: 480px) {
	.wrapper {
		width: calc(100vw - 30px);
	}
}

.base-font-setting {
	color: #090F20;
	font-family: "Halvar Breit Rg", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
}

.base-input-style {
	appearance: none;
	color: #090F20;
	background: #FFFFFF;
	padding: 13px;
	outline: none;
	font-size: 18px;
	border: 1px solid #090F20;
	border-radius: 5px;
	height: 55px;
}

.border-bottom .base-input-style, .base-input-style.border-bottom {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 0;
}

.no-border-radius .base-input-style, .base-input-style.no-border-radius {
	border-radius: 0;
}

.height-40 .base-input-style, .base-input-style.height-40 {
	height: 40px;
}

.base-input-style::placeholder {
	color: rgba(9, 15, 32, 0.6);
	opacity: 1;
}

.pill {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	transition: background .3s ease-in;
}

.pill:hover, .pill:focus, .pill.active {
	background: #FF7733;
}

.base-button-style {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 100px;
	background-color: #EFA7DB;
	color: #090F20;
	background-size: 300%;
	line-height: 1;
	font-weight: 800;
	padding: 18px 40px;
	cursor: pointer;
	box-shadow: none;
	transition: background-color .3s ease-out;
	text-transform: uppercase;
}

.base-button-style:hover, .base-button-style:active, .base-button-style:focus {
	color: inherit;
	background-color: transparent;
	border: 1px solid #707380;
}

.base-button-style a, .base-button-style a:hover, .base-button-style a:active, .base-button-style a:focus {
	color: inherit;
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

.no-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	background-color: transparent;
}

@media (max-width: 781px) {
	.mobile-dark-blue-dim-top .has-background-dim {
		box-shadow: 0 310px 20px -40px var(--color-primary) inset;
		opacity: 1 !important;
		background-color: transparent !important;
	}
	.mobile-dark-blue-dim-top .wp-block-cover__image-background {
		background-color: var(--color-primary);
		padding-top: 240px;
	}
}

.tns-nav-dot, .mx-big-slider .tns-nav button[data-nav] {
	all: unset;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0px 15px;
	border: 1px solid #090F20;
	background-color: white;
}

.tns-nav-dot.tns-nav-active, .mx-big-slider .tns-nav button.tns-nav-active[data-nav] {
	border-color: #FF7733;
	background-color: #FF7733;
}

.button-with-arrow, .button-right-arrow,
.wrap-button-right-arrow a, .button-down-arrow,
.wrap-button-down-arrow a, .button-up-right-arrow,
.wrap-button-up-right-arrow a {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 99% center;
	padding: 10px 30px 10px 0px;
	text-decoration: none;
}

.button-with-arrow:after, .button-right-arrow:after,
.wrap-button-right-arrow a:after, .button-down-arrow:after,
.wrap-button-down-arrow a:after, .button-up-right-arrow:after,
.wrap-button-up-right-arrow a:after {
	content: '';
	height: 1px;
	display: block;
	width: 0px;
	background-color: #090F20;
	transition: width .3s ease;
}

.button-with-arrow:hover, .button-right-arrow:hover,
.wrap-button-right-arrow a:hover, .button-down-arrow:hover,
.wrap-button-down-arrow a:hover, .button-up-right-arrow:hover,
.wrap-button-up-right-arrow a:hover, .button-with-arrow:focus, .button-right-arrow:focus,
.wrap-button-right-arrow a:focus, .button-down-arrow:focus,
.wrap-button-down-arrow a:focus, .button-up-right-arrow:focus,
.wrap-button-up-right-arrow a:focus {
	color: #090F20;
}

.button-with-arrow:hover:after, .button-right-arrow:hover:after,
.wrap-button-right-arrow a:hover:after, .button-down-arrow:hover:after,
.wrap-button-down-arrow a:hover:after, .button-up-right-arrow:hover:after,
.wrap-button-up-right-arrow a:hover:after, .button-with-arrow:focus:after, .button-right-arrow:focus:after,
.wrap-button-right-arrow a:focus:after, .button-down-arrow:focus:after,
.wrap-button-down-arrow a:focus:after, .button-up-right-arrow:focus:after,
.wrap-button-up-right-arrow a:focus:after {
	width: 100%;
}

.button-right-arrow,
.wrap-button-right-arrow a {
	background-image: url("assets/images/arrow-right-in-circle.svg");
}

.button-right-arrow:hover, .button-right-arrow:focus,
.wrap-button-right-arrow a:hover,
.wrap-button-right-arrow a:focus {
	background-image: url("assets/images/arrow-right-in-circle-active.svg");
}

.button-down-arrow,
.wrap-button-down-arrow a {
	background-image: url("assets/images/arrow-down-in-circle.svg");
}

.button-down-arrow:hover, .button-down-arrow:focus,
.wrap-button-down-arrow a:hover,
.wrap-button-down-arrow a:focus {
	background-image: url("assets/images/arrow-down-in-circle-active.svg");
}

.button-up-right-arrow,
.wrap-button-up-right-arrow a {
	background-image: url("assets/images/arrow-up-right-in-circle.svg");
}

.custom-list {
	padding-left: 0;
}

.custom-list.no-marker {
	list-style: none;
}

.custom-list.pineaple-marker {
	list-style: none;
}

.custom-list.pineaple-marker li {
	position: relative;
	padding-left: 24px;
}

.custom-list.pineaple-marker li:before {
	content: '';
	height: 22px;
	width: 14px;
	display: block;
	position: absolute;
	top: calc(50% - 11px);
	left: 0;
	background: transparent url("assets/images/pineaple-list.svg") no-repeat center;
}

.custom-list > * {
	width: 100%;
	margin: 0 !important;
	padding: 26px 40px 20px 0;
}

.custom-list > * + * {
	border-top: 1px solid #AEAFC4;
}

.custom-list > *:hover {
	background: url("assets/images/arrow-up-right-in-circle.svg") no-repeat 99% center;
	padding: 26px 40px 20px 0;
	background-size: 30px;
}

.custom-list > * a {
	color: inherit !important;
	display: inline-block;
}

.custom-list.with-underline > * a:after {
	content: '';
	height: 3px;
	display: block;
	width: 0px;
	background-color: #090F20;
	transition: width .3s ease;
}

.custom-list.with-underline > *:hover a:after {
	width: 100%;
}

.encircle-gif {
	display: inline-block;
	position: relative;
}

.encircle-gif:before {
	content: '';
	filter: hue-rotate(310deg) contrast(0.9);
	position: absolute;
	background-image: url("assets/images/97845a2abc7f36a12f973a0b9c67c06c.gif");
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
	width: 105%;
	height: 105%;
	margin: 0 0 -3% -3%;
}

.mx-big-slider {
	max-width: 1224px;
}

.mx-big-slider--heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	z-index: 2;
	position: relative;
}

@media (max-width: 480px) {
	.mx-big-slider--heading {
		justify-content: center;
		margin-bottom: 10px;
	}
	.mx-big-slider--heading .button-smaller {
		display: none;
	}
}

.mx-big-slider--footer {
	position: relative;
	margin-top: -18px;
	text-align: center;
	z-index: 2;
}

.mx-big-slider .button-smaller {
	white-space: nowrap;
	color: #090F20 !important;
}

.mx-big-slider .tns-ovh {
	overflow: visible;
}

.mx-big-slider .tns-item {
	position: relative;
}

.mx-big-slider .tns-nav {
	text-align: center;
}

@media (max-width: 480px) {
	.mx-big-slider .tns-nav {
		display: none;
	}
}

.mx-big-slider--item:after {
	content: '';
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
}

.mx-big-slider--item-imge {
	position: relative;
	width: 100vw;
	max-width: 990px;
}

.mx-big-slider--item-imge img {
	display: block;
	height: 100%;
	min-width: 100%;
	max-height: 550px;
	object-fit: cover;
	border-radius: 20px;
	margin-bottom: 60px;
}

@media (max-width: 781px) {
	.mx-big-slider--item-imge img {
		max-height: 60vw;
	}
}

.mx-big-slider--item-text-wrapper {
	position: absolute;
	left: -2%;
	bottom: 40px;
	background-color: white;
	border-radius: 20px;
	padding: 33px 40px;
	box-shadow: 0 4px 20px rgba(20, 23, 51, 0.2);
	width: 90vw;
	max-width: 816px;
}

@media (max-width: 781px) {
	.mx-big-slider--item-text-wrapper {
		padding: 18px 25px;
	}
}

.mx-big-slider--item-text-wrapper .h3 {
	margin-top: 0;
}

.mx-big-slider--container {
	position: relative;
}

@media (max-width: 1224px) {
	.mx-big-slider--next {
		position: absolute;
		right: -30px;
		top: 0;
		width: calc(50% + 30px);
		height: calc(100% - 60px);
		background: transparent;
		z-index: 2;
		cursor: pointer;
	}
	.mx-big-slider--prev {
		position: absolute;
		left: -30px;
		top: 0;
		width: calc(50% + 30px);
		height: calc(100% - 60px);
		background: transparent;
		z-index: 2;
		cursor: pointer;
	}
}

/*# sourceMappingURL=style.css.map */