@import "../generic/abstracts";

@import "extends/wrapper";

@import "extends/base";

.pill {
	display: inline-block;
	padding: 8px 12px;
	margin: 12px 6px 0 0;
	border-radius: 0;
	border: 1px solid $Text__Secondary;
	font-size: 14px;
	background: transparent;
	color: initial;
	transition: background .1s ease-in;
	&:hover,
	&:focus,
	&.active,
	&[rel*="current"] {
		@extend .pill-active;
	}
}

.pill-active {
	background: $Text__Primary;
	color: $Text__White;
	border-color: $Text__Primary;
}

@media (max-width: $width__mobile) {

	.mobile-dark-blue-dim-top {

		.has-background-dim {
			box-shadow: 0 310px 20px -40px var(--color-primary) inset;
			opacity: 1 !important;
			background-color: transparent !important;
		}

		.wp-block-cover__image-background {
			background-color: var(--color-primary);
			padding-top: 240px;
		}
	}
}

.tns-nav-dot {
	all: unset;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0px 15px;
	border: 1px solid $color__primary;
	background-color: white;
	&.tns-nav-active {
		border-color: $color__secondary;
		background-color: $color__secondary;
	}
}

@import "extends/scroll";

@import "extends/button";

@import "extends/list";

@import "extends/services";

.encircle-gif {
	display: inline-block;
    position: relative;
	&:before {
		content: '';
		filter: hue-rotate(310deg) contrast(0.9);
		position: absolute;
		background-image: url('assets/images/97845a2abc7f36a12f973a0b9c67c06c.gif');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
		width: 105%;
		height: 105%;
		margin: 0 0 -3% -3%;
	}
	[lang="nl-NL"] &:before {
		width: 110%;
		height: 115%;
		margin: -2% 0 -3% -3%;
	}
}

.curve-line3 {
	color: $color__secondary;
	background: url('assets/images/curve-line3.svg') no-repeat;
	background-size: 100%;
	background-position: bottom 0 left 0;
	//html[lang="en-US"] & {
		padding: 0 15px 15px;
		@media (max-width: $width__min) {
			padding: 0 10px 10px;
		}
	//}
}

.curve-line4 {
	color: $color__secondary;
	background: url('assets/images/curve-line4.svg') no-repeat;
	background-position: bottom 0 left 0;
	//html[lang="en-US"] & {
		padding: 0 0 14px 40px;
		background-size: 110px;
		@media (max-width: $width__mobile), (max-height: $height__mobile) {
			padding: 0 0 14px 30px;
			background-size: 90px;
		}
		@media (max-width: $width__min), (max-height: 400px) {
			padding: 0 0 10px 20px;
			background-size: 70px;
		}
	//}
}

@import "extends/toggler";

.full-page-height:not(.wp-block) {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-height: 1000px;
    height: calc(100vh - var(--offset__header));
	.site-header.mobile ~ .site-main & {
		height: calc(100vh - var(--mobile_offset__header)) !important;
	}
}

.yspl_win_wrap { display: block }

.style-692 {
	.style-692 {
		background-color: $Primary__0 !important;
		padding: 20px 2%;
		max-width: 100% !important;
		@media (max-width: $width__mobile) {
			padding: 20px 15px;
		}
	}
	@media (min-width: $width__mobile) {
		.wp-block-column > .style-692 {
			padding: 20px 4%;
		}
	}
}

.style-693 {
	padding: 20px 2%;
	@media (max-width: $width__mobile) {
		padding: 20px 15px;
	}
}

@media (min-width: 1024px) {
  .max-width-243 {
	  max-width: 243px
  }
}
