@import "../generic/abstracts";

.wrapper {
	max-width: $width__desktop;
	margin-left: auto;
	margin-right: auto;
	width: calc(100vw - 60px);
	@media (max-width: $width__min) {
		width: calc(100vw - 30px);
	}
}

.base-font-setting {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__size;
	line-height: $font__line-height-body;
	font-weight: normal;
}

.base-input-style {

	appearance:none;
	color: $color__input-text;
	background: $color__white;
    padding: 13px;
    outline: none;
	font-size: 18px;
	border: 0; //$input__border;

	.border-bottom &,
	&.border-bottom {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		padding: 0;
	}

	border-radius: 30px;
	.no-border-radius &,
	&.no-border-radius { border-radius: 0 }

	height: 55px;

	.height-40 &,
	&.height-40 {
		height: 40px;
	}

	&::placeholder {
		color: rgba($color__primary, .6);
		opacity: 1;
	}
}

.pill {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	transition: background .3s ease-in;
	&:hover, &:focus, &.active {
		background: $color__secondary;
	}
}

.base-mobile-padding {
    @media (max-width: $width__desktop) {
        max-width: calc(100vw - 60px);
    }
    @media (max-width: $width__min) {
        max-width: calc(100vw - 30px);
    }
}

.base-button-style {

	display: inline-block;
	border: 1px solid transparent;
	border-radius: 100px;
	background-color: $color__button-background;
	color: $color__button-text;
	background-size: 300%;
	line-height: 1;
	font-weight: 800;
	padding: 18px 40px;
	cursor: pointer;
	box-shadow: none;
	transition: background-color .3s ease-out;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		color: inherit;
		background-color: transparent;
		border: 1px solid $Text__Secondary;
	}

	a {
		&,
		&:hover,
		&:active,
		&:focus {
			color: inherit;
		}
	}
}

.no-scrollbar {

	scrollbar-width: none; //firefox

	&::-webkit-scrollbar {
		width: 1px;
		height: 1px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

@media (max-width: $width__mobile) {

	.mobile-dark-blue-dim-top {

		.has-background-dim {
			box-shadow: 0 310px 20px -40px var(--color-primary) inset;
			opacity: 1 !important;
			background-color: transparent !important;
		}

		.wp-block-cover__image-background {
			background-color: var(--color-primary);
			padding-top: 240px;
		}
	}
}

.tns-nav-dot {
	all: unset;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0px 15px;
	border: 1px solid $color__primary;
	background-color: white;
	&.tns-nav-active {
		border-color: $color__secondary;
		background-color: $color__secondary;
	}
}

.button-with-arrow {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 99% center;
	padding: 10px 30px 10px 0px;
	text-decoration: none;
	&:after {
		content: '';
		height: 1px;
		display: block;
		width: 0px;
		background-color: $Text__Primary;
		transition: width .3s ease;
	}
	&:hover,
	&:focus {
		color: $Text__Primary;
		&:after {
			width: 100%;
		}
	}
}

.button-right-arrow,
.wrap-button-right-arrow a {
	@extend .button-with-arrow;
	background-image: url('assets/images/arrow-right-in-circle.svg');
	&:hover,
	&:focus {
		background-image: url('assets/images/arrow-right-in-circle-active.svg');
	}
}

.button-down-arrow,
.wrap-button-down-arrow a {
	@extend .button-with-arrow;
	background-image: url('assets/images/arrow-down-in-circle.svg');
	&:hover,
	&:focus {
		background-image: url('assets/images/arrow-down-in-circle-active.svg');
	}
}

.button-up-right-arrow,
.wrap-button-up-right-arrow a {
	@extend .button-with-arrow;
	background-image: url('assets/images/arrow-up-right-in-circle.svg');
}

.arrow-up-right-in-circle-on-hover {
	&:hover {
		background: url('assets/images/arrow-up-right-in-circle.svg') no-repeat 99% center;
		background-size: 30px;
	}
	@media (max-width: $width__min) {
		background: url('assets/images/arrow-up-right-in-circle.svg') no-repeat 99% center;
		background-size: 30px; 
	}
}

.pineaple-marker {

	list-style: none;

	li {

		position: relative;

		&:before {
			content: '';
			height: 22px;
			width: 14px;
			display: block;
			position: absolute;
			top: calc(50% - 11px);
			left: 0;
			background: transparent url('assets/images/pineaple-list.svg') no-repeat center;
		}

		padding: 26px 40px 20px 24px;

		@extend .arrow-up-right-in-circle-on-hover;
	}
}

.custom-list {

	padding-left: 0;

	&.no-marker {
		list-style: none;
	}

	> * {
		width: 100%;
		margin: 0 !important;
		padding: 26px 40px 20px 0;
		+ * {
			border-top: 1px solid $Text__Tertiary;
		}
		a {
			color: inherit !important;
			display: inline-block;
		}
	}

	&.with-underline {
		> * {
			a {
				&:after {
					content: '';
					height: 3px;
					display: block;
					width: 0px;
					background-color: $Text__Primary;
					transition: width .3s ease;
				}
			}
			&:hover a:after {
				width: 100%;
			}
			@extend .arrow-up-right-in-circle-on-hover;
		}
	}
}

.encircle-gif {
	display: inline-block;
    position: relative;
	&:before {
		content: '';
		filter: hue-rotate(310deg) contrast(0.9);
		position: absolute;
		background-image: url('assets/images/97845a2abc7f36a12f973a0b9c67c06c.gif');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
		width: 105%;
		height: 105%;
		margin: 0 0 -3% -3%;
	}
}

.simple-arrow-right {
	background-image: url('assets/simple-arrow-right.svg');
	background-repeat: no-repeat;
	background-position: center right 20px;
	background-size: 20px !important;
}

.button-in-input {
	.wpcf7-form-control-wrap {
		input[type="email"] {
			box-shadow: 52px 0 0 white;
			width: calc(100% - 68px);
			min-width: 0;
			max-width: 600px;
			margin-left: -15px;
			@media (min-width: 636px){
				max-width: 400px;
			}
		}
	}
	.only-arrow {
		@extend .simple-arrow-right;
		background-position: center;
		font-size: 0;
		height: 44px;
	    width: 44px;
	    padding: 0 !important;
	    vertical-align: 6px;
		position: relative;
		z-index: 2;
	}
}

.curve-line3 {
	color: $color__secondary;
	background: url('assets/images/curve-line3.svg') no-repeat;
	background-size: 100%;
	background-position: bottom 0 left 0;
	//html[lang="en-US"] & {
		padding: 0 15px 15px;
		@media (max-width: $width__min) {
			padding: 0 10px 10px;
		}
	//}
}

.curve-line4 {
	color: $color__secondary;
	background: url('assets/images/curve-line4.svg') no-repeat;
	background-position: bottom 0 left 0;
	//html[lang="en-US"] & {
		padding: 0 0 14px 40px;
		background-size: 110px;
		@media (max-width: $width__mobile) {
			padding: 0 0 14px 30px;
			background-size: 90px;
		}
		@media (max-width: $width__min) {
			padding: 0 0 10px 20px;
			background-size: 70px;
		}
	//}
}

@keyframes fromBottom {
	0% {
		top: 100%;
		left: 0%;
		transform: translateY(100%);
	}
	20% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	80% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	100% {
		top: -100%;
		left: 0%;
		transform: translateY(-100%);
	}
}

@keyframes fromBottomLeft {
	0% {
		top: 100%;
		left: -50%;
		transform: translateY(100%);
	}
	20% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	80% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	100% {
		top: -100%;
		left: 50%;
		transform: translateY(-100%);
	}
}

@keyframes fromBottomRight {
	0% {
		top: 100%;
		left: 50%;
		transform: translateY(100%);
	}
	25% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	75% {
		left: 0;
		top: 0;
		transform: translateY(0%);
	}
	100% {
		top: -100%;
		left: -50%;
		transform: translateY(-100%);
	}
}

.js-switch {
	color: $color__secondary;
	overflow: hidden;
	display: inline-block;
	position: relative;
    vertical-align: bottom;
	* {
		left: 0;
		top: -100%;
		position: absolute;
		white-space: nowrap;
	}
	.placeholder {
		opacity: 0;
		left: 0;
		top: 0;
		position: relative;
	}
	:first-child {
		left: -100%;
		top: -100%;
		&.active {
			animation: fromBottomLeft 2s normal forwards;
		}
	}
	:nth-last-child(2) {
		left: 100%;
		top: -100%;
		&.active {
			animation: fromBottomRight 2s normal forwards;
		}
	}
	.active {
		animation: fromBottom 2s normal forwards;
	}
}
