@import "../generic/abstracts";

.wrapper {
	max-width: $width__desktop;
	margin-left: auto;
	margin-right: auto;
	width: calc(100vw - 60px);
	@media (max-width: $width__min) {
		width: calc(100vw - 30px);
	}
}

.base-font-setting {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__size;
	line-height: $font__line-height-body;
	font-weight: normal;
}

.base-input-style {

	appearance:none;
	color: $color__input-text;
	background: $color__white;
    padding: 13px;
    outline: none;
	font-size: 18px;
	border: $input__border;

	.border-bottom &,
	&.border-bottom {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		padding: 0;
	}

	border-radius: 5px;
	.no-border-radius &,
	&.no-border-radius { border-radius: 0 }

	height: 55px;

	.height-40 &,
	&.height-40 {
		height: 40px;
	}

	&::placeholder {
		color: rgba($color__primary, .6);
		opacity: 1;
	}
}

.pill {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	transition: background .3s ease-in;
	&:hover, &:focus, &.active {
		background: $color__secondary;
	}
}

.base-button-style {

	display: inline-block;
	border: 0;
	border-radius: 100px;
	background-color: $color__button-background;
	color: $color__button-text;
	background-size: 300%;
	line-height: 1;
	font-weight: 800;
	padding: 18px 40px;
	cursor: pointer;
	box-shadow: none;
	transition: background-color .3s ease-out;
	text-transform: uppercase;

	&,
	&:hover,
	&:active,
	&:focus {
		color: inherit;
	}

	a {
		&,
		&:hover,
		&:active,
		&:focus {
			color: inherit;
		}
	}
}

.no-scrollbar {

	scrollbar-width: none; //firefox

	&::-webkit-scrollbar {
		width: 1px;
		height: 1px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

@media (max-width: $width__mobile) {

	.mobile-dark-blue-dim-top {

		.has-background-dim {
			box-shadow: 0 310px 20px -40px var(--color-primary) inset;
			opacity: 1 !important;
			background-color: transparent !important;
		}

		.wp-block-cover__image-background {
			background-color: var(--color-primary);
			padding-top: 240px;
		}
	}
}

.tns-nav-dot {
	all: unset;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0px 15px;
	border: 1px solid $color__primary;
	background-color: white;
	&.tns-nav-active {
		border-color: $color__secondary;
		background-color: $color__secondary;
	}
}

.button-right-arrow,
.wrap-button-right-arrow a {
	background-repeat: no-repeat;
	background-position: 99% center;
	padding: 10px 30px 10px 0px;
	text-decoration: none;
	background-image: url('assets/images/arrow-right-in-circle.svg');
}

.button-down-arrow,
.wrap-button-down-arrow a {
	background-repeat: no-repeat;
	background-position: 99% center;
	padding: 10px 30px 10px 0px;
	text-decoration: none;
	background-image: url('assets/images/arrow-down-in-circle.svg');
}

.button-up-right-arrow,
.wrap-button-up-right-arrow a {
	background-repeat: no-repeat;
	background-position: 99% center;
	padding: 10px 30px 10px 0px;
	text-decoration: none;
	background-image: url('assets/images/arrow-up-right-in-circle.svg');
}

.services-list {
	> * {
		width: 100%;
		padding: 26px 0 20px;
		+ * {
			border-top: 1px solid $Text__Tertiary;
		}
		&:hover {
			@extend .button-up-right-arrow;
			padding: 26px 40px 20px 0;
			background-size: 30px;
		}
		a {
			color: inherit !important;
			display: inline-block;
			&:after {
				content: '';
				height: 3px;
				display: block;
				width: 0px;
				background-color: $Text__Primary;
				transition: width .3s ease;
			}
		}
		&:hover a:after {
			width: 100%;
		}
	}
}

.encircle-gif {
	display: inline-block;
    position: relative;
	&:before {
		content: '';
		filter: hue-rotate(310deg) contrast(0.9);
		position: absolute;
		background-image: url('assets/images/97845a2abc7f36a12f973a0b9c67c06c.gif');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
		width: 105%;
		height: 105%;
		margin: 0 0 -3% -3%;
	}
}
