body,
button,
input,
select,
optgroup,
textarea,
.editor-styles-wrapper {
	@extend .base-font-setting;
}

b, strong {
	font-family: 'Halvar Breit Md', $default__fonts;
	font-weight: 500;
}

@import "elements/headings";

@import "elements/copy";

body {
	--wp--preset--font-size--small: 13px;
	--wp--preset--font-size--medium: 20px;
	--wp--preset--font-size--large: 55px;
	--wp--preset--font-size--x-large: 75px;
	@media (max-width: $width__mobile) {
		--wp--preset--font-size--large: 40px;
		--wp--preset--font-size--x-large: 55px;
	}
	@media (max-width: $width__min) {
		--wp--preset--font-size--large: 30px;
		--wp--preset--font-size--x-large: 45px;
	}
}

@import "cls-fix";
