.editor-styles-wrapper {
    max-width: 100vw;
    overflow: hidden;
}

.edit-post-fullscreen-mode-close {

    background: transparent !important;

    &::before {
        background: center no-repeat url('/icon.webp');
        background-size: 99%;
        box-shadow: none !important;
    }
}

.wp-block .acf-hidden {

    display: block !important;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,.7);
        z-index: 99;
    }
}
