.site-footer {

  margin-top: -1px;
  flex-shrink: 0;
  background: $color__background-footer;

  body.error404 & {
    background: $color__white;
  }

  *:not(.has-text-color) {
    color: $color__text-footer;
  }

  #copyright,
  #terms {
    @extend .wrapper;
    text-align: center;
    &:not(:empty) {
      padding: 0 0 40px;
    }
    a {
      text-decoration: underline;
      white-space: nowrap;
    }
  }

  #terms {
    word-break: break-all;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: $width__min) {
      a { 
        font-size: 75%;
      }
    }
  }
}
