.site-footer {

  margin-top: -1px;
  flex-shrink: 0;
  background: $color__background-footer;

  *:not(.has-text-color) {
    color: $color__text-footer;
  }

  #copyright,
  #terms {
    &:not(:empty) {
      padding: 0 0 40px;
    }
    @extend .wrapper;
    text-align: center;
    a {
      text-decoration: underline;
      + a {
        margin-left: 20px;
      }
    }
  }
}
