.site-header {

    z-index: 10;
    flex-shrink: 0;
    background-color: $color__background-header;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    left: 0;
    right: 0;
    top: 0;
    transition: top .3s ease;
    position: fixed;

    + .site-main {
        margin-top: var(--offset__header);
    }

    .header-content {

        position: relative; //for navigation
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @extend .wrapper;
        max-width: var(--wp--style--global--wide-size);

        .site-branding {
            svg {
                width: 115px;
                height: 31px;
                vertical-align: middle;
            }
        }

        .menu-header-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }

    }

    @import "../components/search-form";

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100vw;
        height: 0;
        background: $color__grey;
        z-index: -1;
        box-shadow: 0 4px 4px rgba(0,0,0, .1) inset,
                    0 4px 4px rgba(0,0,0, .1);
        transition: height .4s ease-in;
    }

    .search-is-active &:after {
        height: 260px;
    }

    &.mobile {

        &:after {
            display: none;
        }

        .search-form {
            visibility: hidden;
            position: absolute;
            &.active > * {
                display: none !important;
            }
        }

        + .site-main {
            margin-top: var(--mobile_offset__header);
        }
    }

    box-shadow: 0 0 0 100vh rgba($BG__Blue, 0);
    transition-delay: .5s;

    &.dropdown-menu-shown {
        box-shadow: 0 0 0 100vh rgba($BG__Blue, .5);
        transition: box-shadow .2s ease;
        ~ * {
            transition: filter .2s ease;
            filter: blur(6px);
        }
    }
}
