html, body, .site {
    min-height: 100%;
    height: auto;
}

.site {
    position: relative;
    display: flex;
    flex-direction: column;
}

body .is-layout-constrained:not([class*="wp-container-core-group-is-layout-"]) > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    @extend .base-mobile-padding;
}

.alignfull {
    overflow: hidden;
    overflow-x: clip;
    overflow-y: visible;
}

@import "header";

@import "main";

@import "footer";
