.post-list {

    list-style: none;
    padding: 0;

	@extend .wrapper-narrow;

	.two-columns & {
		margin-left: 0;
	}

    @import "loop/post";

    @import "loop/search";

	body.blog & .posted-in a:first-child {
		@extend .pill.active;
	}
}

.pagination {

	text-align: center;
	margin-top: 64px;

	.nav-links {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.page-numbers {

		@extend .pill;

		padding: 6px 0;
		margin: 0 8px;
		width: 38px;
		text-align: center;

		&.prev,
		&.next {
			border-color: $BG__Grey;
			background: $BG__Grey;
			padding: 8px 6px 2px;
			vertical-align: -4px;
			svg path {
				stroke: $Text__Primary;
				stroke-width: 1.5
			}
			&.disabled svg path {
				stroke: $Text__Tertiary
			}
		}

		&.current {
			@extend .pill.active;
		}

		@media (max-width: $width__mobile) {
			&.dots ~ *,
			&.current + * {
				&:not(.current):not(.dots):not(:nth-last-child(2)):not(:last-child) {
					display: none;
				}
			}
		}

		@media (max-width: 400px) {
			&:not(.prev):not(.next) {
				display: none;
			}
		}
	}
}

.main-column .search-form {

	border-bottom: 1px dashed $Text__Tertiary;

	margin-bottom: 64px;
	@media (max-width: $width__mobile) {
		margin-bottom: 36px;
	}

	.search-field {
		padding: 0;
		width: calc(100% - 48px);
		@extend h6;
		margin: 0 !important;
	}

	.search-submit {
		font-size: 0 !important;
		border: 0 !important;
		padding: 0;
		width: 40px;
		height: 40px;
		vertical-align: 6px;
		background: transparent url('assets/images/search-icon.svg') center no-repeat;
	}
}
