.site-main {
    flex: 1 0 auto;
    @import "404";
}

.page-content {
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		@extend .wrapper;
	}
}

.updated:not(.published) {
	display: none;
}

.two-columns,
.three-columns {

	@extend .wrapper;
	max-width: var(--wp--style--global--wide-size);
	margin-top: 80px;
	display: flex;
	align-items: flex-start;

	@media (max-width: 1024px) {
		justify-content: center;
		margin-top: 32px;
	}

	aside {

		width: 270px;
		margin: 0 64px 0 0;
		position: sticky;
		top: calc(var(--offset__header) + 20px);
		flex-grow: 0;

		@media (max-width: 1024px) {
			display: none;
		}

		.widget {

			margin-bottom: 0;

			+ .widget {
				margin-top: 1em;
			}
		}
	}

	aside ~ aside {
		margin-right: 0;
		margin-left: 72px;
	}

	.main-column {
		flex: 1;
		max-width: 640px;
	}

	.js-inject-item {
		margin-top: 36px !important;
		margin-bottom: 36px !important;
		@media (min-width: 1024px) {
			display: none;
		}
	}
}

.blog-content {
	margin-top: 100px;
}

@import "loop";

@import "single/post";
