.site-main {

    flex: 1 0 auto;

    @import "404";
}

.sticky {
	display: block;
}

.entry-header,
.page-content,
.entry-content,
.entry-footer {
	> :not(.alignfull) {
		@extend .wrapper;
	}
}

.term-links,
.category-links {
    max-width: $width__desktop;
    margin-left: auto;
    margin-right: 0;
	white-space: nowrap;
    @extend .overflow-x-auto, .no-scrollbar;
    @media (max-width: $width__min) {
        white-space: nowrap;
        padding: 0;
        width: 100vw;
        margin-left: 0px;
    }
}

.page-content,
.entry-content {

}

.updated:not(.published) {
	display: none;
}

.has-posts {

    .page-header {
        text-align: center;
        margin: 80px 0 0;
    }
}

body.blog,
body.category,
body.archive {

	.page-header {

		@extend .wrapper;

		position: relative;
		display: flex;
		align-items: flex-end;

		@media (max-width: $width__min) {
			flex-direction: column;
			align-items: center;
		}

		&:after {
			content: '';
			position: absolute;
			right: -30px;
			width: 30px;
			height: 100%;
			background: #fff;
			box-shadow: 0 0 5px 5px #fff;
			@media (max-width: $width__min) {
				display: none;
			}
		}
	}

	.page-title {

		position: relative;
		margin: 0 30px 0 0;
		@media (max-width: $width__min) {
			margin: 0 auto 10px;
		}
		font-size: 0;
		span {
			@extend .hero;
		}

		&:after {
			content: '';
			position: absolute;
			right: -30px;
			width: 20px;
			height: 100%;
			background: #fff;
			box-shadow: 0 0 5px 5px #fff;
			@media (max-width: $width__min) {
				display: none;
			}
		}
	}
}

body.author {
	.page-title span {
		font-weight: 400;
	}
}

body.search {
	.page-header {
		@extend .wrapper;
	}
	.page-title {
		@extend .hero;
		text-align: left;
	}
}

.post-type-term-list {
    text-align: center;
}

.small-container {
	max-width: 1016px !important;
	margin: auto;
}

@import "loop";

@import "single/post";

@import "single/job";
