$Primary__150: #E46EC3;
$Primary__100: #EFA7DB;
$Primary__50: #F2C3E5;
$Primary__0: #FFEEFA;

$BG__Blue: #E2E9FB;
$BG__Grey: #F6F7FB;
$BG__White: #FFFFFF;

$Text__Primary: #090F20;
$Text__Secondary: #707380;
$Text__Tertiary: #AEAFC4;
$Text__White: #FFFFFF;

$color__white: #FFFFFF;

$color__grey: #F5F3F2;

$color__primary: $Text__Primary;

$color__secondary: $Primary__150;

$color__tertiary: $BG__Blue;

$color__red: #C02B0A;

$color__light-blue: $color__tertiary;

$color__background-body: $color__white;

$color__background-body-alt: $color__grey;

$color__background-screen: $color__grey;

$color__background-hr: #CCCCCC;

$color__background-pre: $color__grey;

$color__background-ins: $color__secondary;

$color__background-header: $color__white;

$color__background-footer: $BG__Blue;

$color__text-screen: #21759b;

$color__text-main: $color__primary;

$color__text-footer: $Text__Tertiary;

$color__button-text: $color__primary;

$color__button-background: $Primary__100;

$color__button-background-gradient: linear-gradient(300deg, $color__white 0%, $color__secondary 40%);

$input__border: 1px solid $color__primary;

$color__input-text: $color__primary;

$color__border-abbr: #666666;
