$color__white: #FFFFFF;

$color__grey: #F5F3F2;

$color__primary: #141733;

$color__secondary: #FF7733;

$color__tertiary: #00C0F0;

$color__red: #C02B0A;

$color__light-blue: $color__tertiary;

$color__background-body: $color__white;

$color__background-body-alt: $color__grey;

$color__background-screen: $color__grey;

$color__background-hr: #CCCCCC;

$color__background-pre: $color__grey;

$color__background-ins: $color__secondary;

$color__background-header: $color__white;

$color__background-footer: $color__primary;

$color__text-screen: #21759b;

$color__text-main: $color__primary;

$color__text-footer: $color__white;

$color__button-text: $color__primary;

$color__button-background: $color__secondary;

$color__button-background-gradient: linear-gradient(300deg, $color__white 0%, $color__secondary 40%);

$input__border: 1px solid $color__primary;

$color__input-text: $color__primary;

$color__border-abbr: #666666;
