/********** Fonts **********/
@font-face {
    font-family: 'HalvarBreit';
    src: url('./assets/fonts/HalvarBreit/HalvarBreit.eot');
    src: url('./assets/fonts/HalvarBreit/HalvarBreit.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HalvarBreit/HalvarBreit.woff2') format('woff2'),
        url('./assets/fonts/HalvarBreit/HalvarBreit.woff') format('woff'),
        url('./assets/fonts/HalvarBreit/HalvarBreit.ttf') format('truetype'),
        url('./assets/fonts/HalvarBreit/HalvarBreit.svg#HalvarBreit') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// stylelint-disable value-keyword-case
$font__main: 'HalvarBreit';

// stylelint-enable value-keyword-case
$font__size: 16px;

$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font__pre: "Courier 10 Pitch", courier, monospace;

$font__line-height-body: 1.5;

$font__line-height-pre: 1.6;
