@import "../../generic/extends";

.wp-block.jobs:not(.on-page-for-jobs) {

    .post-list {

        flex-wrap: nowrap;
        overflow: auto;
        @extend .no-scrollbar;

        > * {
            flex-shrink: 0;
        }
    }
}

@media (max-width: $width__desktop) {

    .wp-block.jobs:not(.on-page-for-jobs) {

        margin-left: 0;
        width: 100vw;

        .post-list {
            width: 100vw;
            padding: 0 30px;
            max-width: none !important;
        }
    }
}

@media (max-width: $width__min) {

    .wp-block.jobs:not(.on-page-for-jobs) {

        .post-list {
            padding: 0 15px;
        }
    }
}
