#mobile-primary-menu {

    position: fixed;
    right: 0;
    left: 0;
	top: 64px;
	.admin-bar & {
		top: 94px;
		@media (max-width: $width__mobile) {
			top: 110px;
		}
	}

	bottom: 0;
	display: flex;
	flex-direction: column;
    background: $color__white;
    padding: 26px 0;
	transition: transform .6s ease-out;
	transform: translateX(150%);
	transition-delay: .3s;
	//overflow: auto;

	* {
		-webkit-touch-callout: none;
	}

	.invisible { height: 0 }

	.mobile-indent {
		text-indent: 0;
	}

	> li {
		opacity: 0;
		transition: opacity .3s ease-out;
		padding: 0 26px;
		margin: 15px auto;
		@media (max-height: 768px) {
			margin: 5px auto;
		}
		cursor: pointer;
		width: 100%;
		max-width: $width__desktop;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}

	.show & {
		transform: translateX(0);
		transition-delay: 0s;
		> li {
			opacity: 1;
			transition-delay: .7s;
		}
	}

	:not(.has-button):not(.has-button-smaller) a {
		//white-space: nowrap;
		display: block;
		text-decoration: none;
		//font-weight: 600;
		padding: 10px 0;
	}

	.has-button:last-child,
	.has-button-smaller:last-child {
		margin: auto auto 0;
		text-align: center;
	}

	.sub-menu {
		padding-left: 20px;
	}

	.request-button {
		border-radius: 40px;
		text-align: center;
		margin: auto auto 0;
		width: auto;
		> a {
			@extend .request-hand-wave-button;
			display: inline-block !important;
			@media (max-width: $width__min) {
				width: calc(100vw - 40px);
			}
		}
		padding: 0;
	}

	.menu-item-has-children {
		> .sub-menu {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: opacity .1s ease;
			transition-delay: .3s;
		}
		> a {
			position: relative;
			display: inline-block !important;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 7px;
				right: -40px;
				transition: transform .3s ease;
				width: 30px;
				height: 30px;
				transform: rotate(-90deg);
				z-index: -1;
				background: transparent url('assets/chevron-down.svg') no-repeat center;
			}
		}
		&.touched {

			> a:after {
				transform: rotate(0deg);
			}

			> .sub-menu {

				height: auto;
				opacity: 1;

				.sub-menu { //sub sub menu

					display: flex;
					flex-direction: column;

					li {
						order: 1;
					}

					li:nth-child(2),
					li:nth-child(3n+2) {
						order: 2;
					}

					li:nth-child(3n+3) {
						order: 3;
					}
				}
			}
		}
	}

	&.has-touched-multilayer {
		> *:not(.touched) {
			display: none;
		}
	}

	@extend .hidden-scrollbar;

	.has-multilayer.touched {
		height: 100vh;
		transform: translateY(-40px);
		> a {
			font-size: 0;
			pointer-events: none;
			width: 100%;
			border-bottom: $border__grey;
			&::before {
				display: block;
				content: attr(rel);
				font-size: 16px;
				margin-left: 30px;
			}
			&::after {
				transition: none;
				transform: rotate(90deg);
				bottom:0;
				left:-10px;
			}
		}
		> .multilayer {
			//@extend .overflow-x-auto, .no-scrollbar;
			overflow: auto;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				width: 0px;
				height: 0px;
			}
			display: flex;
			padding: 0;
			height: 100%;
			width: calc(100% + 26px * 2);
			margin-left: -26px;
			> li {
				> a {
					padding-top: 30px;
					padding-bottom: 30px;
					padding-left: 26px;
					white-space: nowrap;
					&::after {
						display: none;
					}
				}
				&:last-child > a {
					padding-right: 26px;
				}
				> .sub-menu {
					position: absolute;
					left: 8px;
				}
				&.active {
					> a {
						text-decoration: underline;
						color: $Primary__150;
					}
					> .sub-menu {
						opacity: 1;
						//height: auto;
						width: calc(100% - 34px);
						@extend .pineaple-marker, .hidden-scrollbar;
						position: fixed;
						height: 100%;
						padding-bottom: 60px;
						overflow: auto;


						> li > a {
							&[href="#"] {
								background: none !important;
								color: inherit !important;
							}
							//@media (any-hover: hover) {
								//background: none !important;
							//}
						}

						ul.techno-list {
							> li {
								> a {
									padding: 0 !important;
									-webkit-tap-highlight-color: transparent;
								}
							}
						}


						.yspl_win_wrap {
							.wp-block-columns {
								@media (max-width: $width__mobile) {
									gap: 0;
									> *:not(:last-child) {
										border-bottom: $border__grey;
									}
								}
								li > a {
									background: none !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

body.mobile-menu-active {
	overflow: hidden;
}
