.shortcode-menu {
    &.pineaple-marker {
        @media (max-width: $width__mobile) {
            li {
                &.invisible {
                    display: none;
                }
            }
        }
        a[href="#"] {
            background: none !important;
            cursor: default;
        }
    }
}

.yspl-widget-area .techno-list li a {
    background: none !important;
    -webkit-tap-highlight-color: transparent;
}
