@import "../../generic/abstracts";
@import "../../generic/extends";

.mx-big-slider {
    max-width: $width__desktop;
    &--heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        z-index: 2;
        position: relative;
        @media (max-width: $width__min) {
            justify-content: center;
            margin-bottom:10px;
            .button-smaller { display: none; }
        }
    }
    &--footer {
        position: relative;
        margin-top: -18px;
        text-align: center;
        z-index: 2;
    }
    .button-smaller {
        white-space: nowrap;
        color: $color__primary !important;
    }
    .tns {
        &-ovh {
                overflow: visible;
        }
        &-item {
            position: relative;
        }
        &-nav {
            text-align: center;
            @media (max-width: $width__min) {
                display: none;
            }
            button[data-nav] {
                @extend .tns-nav-dot;
            }
        }
    }
    &--item {
        &:after {
            content: '';
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
        }
        &-imge {
            position: relative;
            width: 100vw;
            max-width: 990px;
            img {
                display: block;
                height: 100%;
                min-width: 100%;
                max-height: 550px;
                @media (max-width: $width__mobile) {
                    max-height: 60vw;
                }
                object-fit: cover;
                border-radius: 20px;
                margin-bottom: 60px;
            }
        }
        &-text-wrapper {
            position: absolute;
            left: -2%;
            bottom: 40px;
            background-color: white;
            border-radius: 20px;
            padding: 33px 40px;
            @media (max-width: $width__mobile) {
                padding: 18px 25px;
            }
            box-shadow: 0 4px 20px rgba(20, 23, 51, 0.2);
            width: 90vw;
            max-width: 816px;
            .h3 {
                margin-top: 0;
            }
        }
    }
    &--container {
        position: relative;
    }
    @media (max-width: $width__desktop) {
        &--next {
            position: absolute;
            right: -30px;
            top: 0;
            width: calc(50% + 30px);
            height: calc(100% - 60px);
            background: transparent;
            z-index: 2;
            cursor: pointer;
        }
        &--prev {
            position: absolute;
            left: -30px;
            top: 0;
            width: calc(50% + 30px);
            height: calc(100% - 60px);
            background: transparent;
            z-index: 2;
            cursor: pointer;
        }
    }
}
