.editor-styles-wrapper {
  max-width: 100vw;
  overflow: hidden; }

.wp-block[data-type="core/widget-area"],
.blocks-widgets-container .editor-styles-wrapper {
  max-width: 1224px !important; }

.edit-post-fullscreen-mode-close {
  background: transparent !important; }
  .edit-post-fullscreen-mode-close::before {
    background: center no-repeat url("assets/icon.webp");
    background-size: 99%;
    box-shadow: none !important; }

.wp-block .acf-hidden {
  display: block !important; }
  .wp-block .acf-hidden:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99; }

.table-view-list .hentry .row-actions {
  height: 1px;
  overflow: hidden; }

.table-view-list .hentry .column-date br {
  content: ""; }
  .table-view-list .hentry .column-date br:after {
    content: ", "; }

.table-view-list .hentry.is-expanded .row-actions, .table-view-list .hentry:hover .row-actions {
  height: auto; }
