.float {
	&-left { float: left }
	&-right { float: right }
	&-none { float: none }
}

.clear-both {
	&, &:after { clear: both; }
	&:before, &:after {
		content: " ";
		display: table;
	}
}

.align {

	&-left { text-align: left }

	&-right { text-align: right }

	&-center, &-all-center * { text-align: center }

	&-justify { text-align: justify }

	&full {
		overflow: hidden;
		overflow-x: clip;
		overflow-y: visible;
	}

	&left {
		/*rtl:ignore*/
		float: left;
		/*rtl:ignore*/
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}

	&right {
		/*rtl:ignore*/
		float: right;
		/*rtl:ignore*/
		margin-left: 1.5em;
		margin-bottom: 1.5em;
	}

	&center {
		clear: both;
		@include center-block;
		margin-bottom: 1.5em;
	}

	&wide {
		margin-left: auto !important;
		margin-right: auto !important;
		@extend .base-mobile-padding;
		@media (min-width: $width__desktop) {
			max-width: $width__wide !important;
		}
		@media (max-width: #{$width__wide + 60px}) {
			max-width: calc(100vw - 60px) !important;
		}
	}
}

@media (max-width: $width__mobile) {

	.mobile {

		&-alignfull {
			width: 100%;
			max-width: none !important;
		}

		&-align-center,
		&-center,
		&-align-all-center * { text-align: center !important }

		&-align-left,
		&-textleft,
		&-align-all-left * { text-align: left !important }
	}
}
