.float-left { float: left }

.float-right { float: right }

.float-none { float: none }

.clear-both:before,
.clear-both:after {
    content: " ";
    display: table;
}

.clear-both:after { clear: both; }

.clear-both {
    clear: both;
}

.align-left { text-align: left }

.align-right { text-align: right }

.align-all-center *,
.align-center { text-align: center }

.align-justify { text-align: justify }

.alignfull {
	overflow: hidden;
	overflow-x: clip;
	overflow-y: visible;
}

.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 1.5em;
}

.alignwide {
	margin-left: auto !important;
	margin-right: auto !important;
	@extend .base-mobile-padding;
	@media (min-width: $width__desktop) {
		max-width: $width__wide !important;
	}
	@media (max-width: #{$width__wide + 60px}) {
		max-width: calc(100vw - 60px) !important;
	}
}

@media (max-width: $width__mobile) {

    .mobile-alignfull {
        width: 100%;
		max-width: none !important;
    }

    .mobile-align-center,
    .mobile-center,
    .mobile-align-all-center * { text-align: center !important }

    .mobile-align-left,
    .mobile-textleft,
    .mobile-align-all-left * { text-align: left !important }
}
