.border {

    &-radius-20 {
        border-radius: 20px;
    }

    &-radius-default,
    &-radius-10,
    &-radius {
        border-radius: 10px;
    }

    &-2blue {
        border: 2px solid $BG__Blue;
    }

    &-dashed-pink {
        border: 1px dashed $Primary__150;
    }

    &-tertiary {
        border: 1px solid $Text__Tertiary;
    }
}
