@import "../generic/abstracts";

@import "visibility";

.color-primary { color: $color__primary }

.color-white { color: $color__white }

.background-primary { background-color: $color__primary }

.offset {
    position: absolute;
    left: -100500px;
    top: -100500px;
}

.click-child,
.cursor-pointer { cursor: pointer }

.cursor-default { cursor: default }

.fixed { position: fixed }

@import "aligns";

.capitalize { text-transform: capitalize }

.bold { font-weight: bold }

.bolder { font-weight: 500 }

.weight-normal {
    font-family: $font__main !important;
    font-weight: normal !important;
}

.lowercase { text-transform: lowercase }

.uppercase { text-transform: uppercase }

.italic { font-style: italic }

.smaller {
    font-size: 75%;
}

.ellipsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
	&, > * { white-space: nowrap; }
}

.no-underline {
    &, a {
        text-decoration: none !important;
    }
}

.underline {
    text-decoration: underline !important;
}

.no-selection {
    &::-moz-selection,
    ::-moz-selection {
        background-color: transparent;
        color: inherit;
    }
    &::selection,
    ::selection {
        background-color: transparent;
        color: inherit;
    }
}

.overflow-x-auto {
    overflow-x: auto;
}

@import "width-height";

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-default,
.border-radius-10,
.border-radius {
    border-radius: 10px;
}

.border-2blue {
    border: 2px solid $BG__Blue;
}

.border-dashed-pink {
    border: 1px dashed $Primary__150;
}

.custom-counter-with-gradient {
	font-size: 35px;
	font-weight: 800;
	line-height: 42px;
	color: #00C0F0;
	background: linear-gradient(180deg, #00C0F0 -48.53%, rgba(0, 192, 240, 0.28) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@import "padding";

@import "margin";

.line-height-1_5 {
    line-height: 1.5;
}
.line-height-2 {
    line-height: 2;
}

.grayscale {
    img { filter: grayscale(100%); }
    &:hover img {
        filter: grayscale(0%);
    }
}

.no-grayscale img {
    filter: grayscale(0%) !important;
}

@import "flex";

@media (max-width: $width__mobile) {

    .mobile-indent {
        text-indent: 15px;
    }

    .mobile-font-inherit {
        font-size: inherit !important;
    }
}
