.wrapped-by-padding {
    padding-left: calc(50vw - #{$width__desktop} / 2);
    padding-left: clamp(30px, calc(50vw - #{$width__desktop} / 2), 100500px);
    padding-right: calc(50vw - #{$width__desktop} / 2);
    padding-right: clamp(30px, calc(50vw - #{$width__desktop} / 2), 100500px);
	@media (max-width: $width__min) {
	    padding-left: 15px;
	    padding-right: 15px;
	}
    &[class*="block-editor"], .acf-block-preview & {
        padding-left: calc(50% - #{$width__desktop} / 2);
        padding-left: clamp(30px, calc(50% - #{$width__desktop} / 2), 100500px);
        padding-right: calc(50% - #{$width__desktop} / 2);
        padding-right: clamp(30px, calc(50% - #{$width__desktop} / 2), 100500px);
    }
}

.padding-16 {
    padding: 16px;
	> p:first-child {
		margin-top: 0;
	}
}

.padding-32 {
    padding: 32px;
}

@media (max-width: $width__mobile) {

    .mobile-padding-rl-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

}
