.mx-industries {
    background: #F6F7FB;
    max-width: 100% !important;
    padding-top: 120px;
    width: 100% !important;
    &--content {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 60px);
    }
    &--heading {
        display: flex;
        justify-content: space-between;
        .description {
            margin-top: 0;
            margin-bottom: 30px;
        }
        &--text {
            .h2 {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
        &--button {
            .button-view-all {                
                background-image: url('../../assets/images/Arrow-Right.png');
            }
        }
    }
    &--container {
        display: flex;
        flex-wrap: wrap;
        &--item {
            width: 25%;
            position: relative;
            padding: 0px 4px;
            box-sizing: border-box;
            img {
                width: 100%;
            }
            p {
                position: absolute;
                top: 0;
                height: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                font-size: 32px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container .wp-block-acf-oceaa-industries {
    max-width: 100%;
}
.full-width-section {
    max-width: 100% !important;
    width: 100% !important;
}
.bg-pink {
    background: #F6F7FB;
}
.before-curve-line {
    strong {
        color: #E46EC3;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 130px;
            height: 34px;
            background-repeat: no-repeat;
            background-image: url('../../assets/images/curve-line.webp');
            bottom: -16px;
            left: -43px;
        }
    }
}