.wp-block-review-slider {
  overflow-x: visible; }
  .wp-block-review-slider .review-slide[onclick] {
    cursor: pointer; }
  .wp-block-review-slider .review-slide--inner.layout-default {
    display: grid;
    gap: 32px;
    grid-template-columns: .8fr 1.2fr;
    margin: 32px auto; }
    @media (max-width: 781px) {
      .wp-block-review-slider .review-slide--inner.layout-default {
        grid-template-columns: 1fr;
        margin: 0 auto; } }
  .wp-block-review-slider .review-slide--inner.layout-cards {
    padding: 32px;
    border: 2px solid #E2E9FB;
    display: flex;
    gap: 32px;
    flex-direction: column; }
  .wp-block-review-slider .review-slide--header {
    display: flex;
    flex-direction: row; }
  .wp-block-review-slider .review-slide--author {
    display: flex;
    flex-direction: column; }
  .wp-block-review-slider .review-slide--image {
    width: 64px;
    height: 64px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 31px;
    margin-right: 24px; }
  .wp-block-review-slider .review-slide--name {
    margin: 4px 0 !important; }
  .wp-block-review-slider .review-slide--position {
    font-size: 18px; }
  .wp-block-review-slider .review-slide--content {
    font-size: 16px;
    line-height: 28px;
    color: #707380; }
  .wp-block-review-slider .review-slide--date {
    margin: auto 0 0;
    padding-top: 16px; }
  .wp-block-review-slider.layout-cards .tns-ovh.active {
    overflow: visible; }
  .wp-block-review-slider .tns-nav {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 12px; }
    .wp-block-review-slider .tns-nav button {
      width: 12px;
      height: 12px;
      border: 0;
      outline: 0;
      padding: 0;
      background-color: #F6F7FB; }
      .has-bg-grey-background-color .wp-block-review-slider .tns-nav button {
        background-color: #F2C3E5; }
    .wp-block-review-slider .tns-nav-active {
      background-color: #E46EC3 !important; }
  .wp-block-review-slider .tns-controls {
    display: flex;
    justify-content: space-between;
    margin-top: -26px; }
    .wp-block-review-slider .tns-controls button {
      width: 40px;
      height: 40px;
      font-size: 0 !important;
      background: transparent url("../../assets/chevron-right-xl-red.svg") center no-repeat;
      border: 0;
      outline: 0;
      padding: 0; }
      .wp-block-review-slider .tns-controls button[data-controls="prev"] {
        transform: rotate(180deg); }
      .wp-block-review-slider .tns-controls button[disabled] {
        opacity: 0; }
  .wp-block-review-slider.alignfull .tns-ovh {
    overflow: visible; }

.acf-block-preview .review-slider.layout-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px; }
  @media (max-width: 900px) {
    .acf-block-preview .review-slider.layout-cards {
      grid-template-columns: 1fr; } }
