.wp-block-case-studies {
  overflow-x: auto;
  overflow-y: hidden; }
  .wp-block-case-studies > [id^="case_studies_"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.5vw; }
    @media (max-width: 720px) {
      .wp-block-case-studies > [id^="case_studies_"] {
        gap: 100px; } }
  .wp-block-case-studies .case-study {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (max-width: 720px) {
      .wp-block-case-studies .case-study {
        width: 90vw; } }
    .wp-block-case-studies .case-study:nth-child(odd) {
      max-width: 530px; }
    .wp-block-case-studies .case-study:nth-child(even) {
      max-width: 320px; }
    .wp-block-case-studies .case-study--image {
      display: block; }
    .wp-block-case-studies .case-study--hover-image {
      position: absolute;
      left: 0;
      top: -40px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
      transition: transform .2s ease-in, opacity .4s ease; }
    .wp-block-case-studies .case-study--industry {
      position: absolute;
      right: 0;
      top: 40px;
      transform-origin: top right;
      transform: rotate(-90deg);
      text-transform: uppercase; }
    .wp-block-case-studies .case-study--tags span {
      display: inline-block;
      border: 1px solid black;
      margin: 0 10px 10px 0;
      padding: 6px 8px;
      transition: all .2s ease; }
      .wp-block-case-studies .case-study--tags span:first-child {
        background: black;
        color: white; }
    .wp-block-case-studies .case-study--content1 {
      position: relative;
      overflow: hidden; }
    .wp-block-case-studies .case-study--hover-content {
      opacity: 0;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      padding: 0 40px 30px 40px;
      max-height: calc(100% - 20px);
      background: black;
      transform: translateY(50%);
      transition: transform .2s ease-in, opacity .4s ease;
      overflow: auto; }
      .wp-block-case-studies .case-study--hover-content > * {
        color: white;
        margin-top: 30px; }
    .wp-block-case-studies .case-study--read-more {
      display: inline-block;
      padding: 5px 30px 5px 0;
      background: transparent url(../../assets/images/arrow-right-in-circle-white.svg) right center no-repeat; }
    .wp-block-case-studies .case-study:hover.style-0 .case-study--tags span {
      background: #F84F3A;
      color: black;
      border-color: #F84F3A; }
    .wp-block-case-studies .case-study:hover.style-1 .case-study--tags span {
      background: #5B9DFF;
      color: black;
      border-color: #5B9DFF; }
    .wp-block-case-studies .case-study:hover.style-2 .case-study--tags span {
      background: #E46EC3;
      color: black;
      border-color: #E46EC3; }
    .wp-block-case-studies .case-study:hover.style-3 .case-study--tags span {
      background: #6A67DB;
      color: black;
      border-color: #6A67DB; }
    .wp-block-case-studies .case-study:hover.style-4 .case-study--tags span {
      background: #97DF02;
      color: black;
      border-color: #97DF02; }
    .wp-block-case-studies .case-study:hover.style-5 .case-study--tags span {
      background: #FFBC4B;
      color: black;
      border-color: #FFBC4B; }
    .wp-block-case-studies .case-study:hover .case-study--hover-image {
      transform: scale(1.5);
      opacity: 1; }
    .wp-block-case-studies .case-study:hover .case-study--hover-content {
      opacity: 1;
      transform: translateY(0%); }
