.about-us-alt & {
    > * {
        height: 100%;
        padding: 2em;
        border-radius: 1em;
    }
    @media (max-width: $width__mobile) {
        :not(.is-not-stacked-on-mobile) > & {
            flex-basis: calc(50% - .5em) !important;
            flex-grow: 0;
        }
        > * {
            padding: 1em;
            .has-medium-font-size {
                font-size: 16px !important;
            }
            .h5 {
                font-size: 24px !important;
            }
            .h6 {
                font-size: 14px !important;
            }
            .mobile-18px {
                font-size: 18px !important;
            }
            p + p { margin-top: 0 }
        }
    }
}

&s.about-us-alt {
    @media (max-width: $width__mobile) {
        gap: 1em;
    }
}
