#wpadminbar {
    position: fixed !important;
}

body.admin-bar:not(.scroll-down) {

    .site-header {

        top: 32px;

        @media screen and (max-width: $width__mobile) {
            top: 46px;
        }
    }
}
