#breadcrumbs {

    @extend .wrapper-wider, .overflow-x-auto, .no-scrollbar;

    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 0;
    white-space: nowrap;
    position: relative;
    z-index: 2;

    :not(.breadcrumb_last) {
        color: $Text__Secondary;
    }

    .breadcrumb_last {
        color: $Text__Primary;
        //max-width: calc(100%);
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        text-overflow: ellipsis;
    }
}
