.map-swiper {

    @extend .overflow-x-auto, .no-scrollbar;
    position: relative;
    padding: 0 0 0 calc(50vw - 400px);

    &[class*="block-editor"] {

        padding-left: 0;
        padding-right: 0;
        justify-content: center;

        figure {
            text-align: center;
            img {
                max-width: 10vw;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        height: 100px;
        flex-basis: calc(50vw - 400px);
        flex-shrink: 0;
    }

    &-navigation {

        position: absolute;
        width: 64px;
        height: 64px;
        background: transparent center no-repeat;
        background-size: 80%;
        z-index: 2;

        &-prev {
            background-image: url('assets/chevron-left-xl.svg');
            left: 22px;
            @media(max-width: $width__mobile) {
                left: 6px;
            }
        }

        &-next {
            background-image: url('assets/chevron-right-xl.svg');
            right: 22px;
            @media(max-width: $width__mobile) {
                right: 6px;
            }
        }

        &.disabled { opacity: 0 }

        @media(max-width: $width__mobile) {
            width: 46px;
            height: 46px;
        }

    }

    > * {
        opacity: .6;
        transition: opacity .4s ease !important;
        padding: 140px 0;
        @media (max-height: 800px), (max-width: $width__mobile) {
            padding: 60px 0;
        }
        &.active,
        &.is-selected,
        &.has-child-selected {
            opacity: 1;
        }
    }

    &:not([class*="block-editor"]) > * {

        min-width: 300px;
        max-width: 800px;
        cursor: pointer;

        * { pointer-events: none }

        @media (max-width: $width__mobile) {
            min-width: 220px;
        }

        figure {
            margin-left: auto !important;
            margin-right: auto !important;
            img {
                max-height: calc(60vh - 200px);
                object-fit: contain !important;
                object-position: top;
            }
        }

        &.active {
            width: 80vw;
            padding-left: 60px;
            padding-right: 60px;
            max-width: 800px;
            flex-basis: 100% !important;
        }
    }
}
