nav ul.menu,
nav ul.sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-header-container {
	&:not(.ready) {
		display: none;
	}
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	&.pointer {
		cursor: pointer;
		max-width: 40px;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 22px;
			height: 3px;
			border-radius: 0;
			background-color: $color__primary;
			position: absolute;
			right: 0px;
			transition: all .2s ease;
		}
		&::before {
			top: 24px;
			box-shadow: 0px 7px 0px $color__primary;
		}
		&::after {
			bottom: 24px;
		}
		.show + & {
			&::before {
				box-shadow: none;
				box-shadow: 0px 0px 0px $color__primary;
				width: 20px;
				transform: rotate(45deg) translate(5.5px, 5px);
			}
			&::after {
				width: 20px;
				transform: rotate(-45deg) translate(5px, -5px);
			}
		}
	}
}

.menu-mobile-container {
	position: relative;
	z-index: -1;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		@media (max-width: $width__min) {
			flex-direction: column;
			grid-row-gap: 20px;
		}
	}

	.nav-previous {
		flex: 1 0 50%;
		text-align: center;
		white-space: nowrap;
		a {
			font-weight: 800;
			@extend .button-link-left;
		}
	}

	.nav-next {
		flex: 1 0 50%;
		text-align: center;
		white-space: nowrap;
		a {
			font-weight: 800;
			@extend .button-link-right;
		}
	}
}

.read-more {
	position: absolute;
	right: 30px; bottom: 30px;
	width: 46px; height: 46px;
	border-radius: 24px;
	background: transparent url('assets/read-more.svg') no-repeat center;
	border: 1px solid $color__secondary;
	transition: all .3s ease-in;
	&:hover, &:focus {
		background-color: $color__secondary;
		border-color: $color__secondary;
	}
}
