nav ul.menu,
nav ul.sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-header-container {
	&.pointer {
		cursor: pointer;
		max-width: 40px;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 22px;
			height: 3px;
			border-radius: 0;
			background-color: $color__primary;
			position: absolute;
			right: 0px;
			transition: all .2s ease;
		}
		&::before {
			top: 24px;
			box-shadow: 0px 7px 0px $color__primary;
		}
		&::after {
			bottom: 24px;
		}
		.show + & {
			&::before {
				box-shadow: none;
				box-shadow: 0px 0px 0px $color__primary;
				width: 20px;
				transform: rotate(45deg) translate(5.5px, 5px);
			}
			&::after {
				width: 20px;
				transform: rotate(-45deg) translate(5px, -5px);
			}
		}
	}
}

@keyframes wave-animation {
    0% { transform: rotate(0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

.request-hand-wave-button {
	padding: 16px 24px !important;
	border-radius: 40px;
	border: 1px solid;
	&:before {
		content: '';
		display: inline-block;
		width: 32px;
		height: 32px;
		background: transparent url('assets/images/request-hand-wave.png') no-repeat center;
		vertical-align: -10px;
		margin-right: 10px;
		animation-name: wave-animation;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		transform-origin: 50% 100%;
	}
	&:hover,
	&:active,
	&:focus {
		background-color: $color__secondary;
		color: $color__white;
		border-color: $color__secondary;
		&:before {
			filter: brightness(0) invert(1);
		}
	}
}

.menu-mobile-container {
	position: relative;
	z-index: -1;
}

#primary-menu {

	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0;
	width: 100%;

	&.invisible {
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
	}

	&:before {
		content: '';
	}

	ul {

		box-shadow: 0 3px 3px rgba($color__primary, .2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;

		ul {
			left: -999em;
			top: 0;
		}

		li {
			&:hover > ul,
			&.focus > ul {
				display: block;
				left: auto;
			}
		}
	}

	a {
		white-space: nowrap;
		display: block;
		text-decoration: none;
		font-weight: 500;
	}

	> li:not([class*="has-button"]) > a {
		padding: 30px 0 31px;
	}

	.mobile & > li:not([class*="has-button"]) > a {
		padding: 14px 0 15px;
	}

	.sub-menu {
		background-color: transparent;
		height: auto;
		box-shadow: none;
	}

	> .menu-item-has-children {

		> a:after {
			content: '';
			display: inline-block;
			margin-top: 9px !important;
			margin-left: 5px !important;
			transition: transform .3s ease;
			width: 10px;
			height: 8px;
			background: transparent url('assets/chevron-down.svg') no-repeat center;
		}

		&:hover, &:focus, &.active {

			> .sub-menu { //1st level

				opacity: 1;
				padding: 10px;
				left: auto;

				&:not(.multilayer) {
					padding-top: 10px;
					li {
						padding: 5px 20px;
						background: $color__white;
						&:first-child {
							padding-top: 20px;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
						}

						&:last-child {
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
							padding-bottom: 20px;
						}
					}
				}

				&.multilayer {

					display: flex;
					flex-wrap: wrap;
					min-width: calc(100% + 40px);
					left: -20px;

					&:before {
						content: attr(data-name);
						flex: 0 0 100%;
						background: $color__white;
						border-radius: 10px 10px 0 0;
						padding: 40px 40px 20px;
						@extend h5;
						margin: 0;
					}

					&:after {
						content: ' ';
						flex: 0 0 100%;
						background: $color__white;
						border-radius: 0 0 10px 10px;
						padding: 10px 40px;
					}

					> li {

						background: $color__white;
						padding: 20px;

						&:first-child {
							//border-top-left-radius: 10px;
							//border-bottom-left-radius: 10px;
							padding-left: 40px;
						}

						&:last-child {
							flex: 1;
							//border-top-right-radius: 10px;
							//border-bottom-right-radius: 10px;
						}

						&.menu-item-has-children {

							&:hover, &:focus {
								.sub-menu {
									display: none
								}
							}

							&.active {

								> a {
									text-decoration: underline;
									color: $Primary__150;
								}

								.sub-menu { //2nd level

									left: 10px;
									top: auto;
									width: calc(100% - 20px);
									opacity: 1;
									background: $color__white;
									border-radius: 0 0 10px 10px;
									//columns: 3;
									//display: initial;
									display: grid;
									grid-template-columns: repeat(3, 1fr);
									grid-column-gap: 40px;
									padding: 10px 40px 40px;

									&:before { //top line
										content: '';
										position: relative;
										grid-column: 1 / -1;
										height: 1px;
										background: #eee;
										margin: 0 0 40px 0;
									}

									@extend .pineaple-marker;

									> li {

										padding-top: 0;
										padding-bottom: 0;

										//&:nth-child(-n + 4) {
											//border-bottom: 1px solid #eee;
											//margin-bottom: -1px;
										//}

										&:nth-child(n + 4) {
											border-top: 1px solid #eee;
										}

										a {
											padding: 12px 40px 12px 24px !important;
										}
									}
								}
							}


						}
					}
				}
			}
		}
	}

	.request-button a {
		@extend .request-hand-wave-button;
		border: 1px solid;
		border-radius: 40px;
	}

	& [class*="ajax-count-"] {
		position: relative;
		& .ajax-count-result {
			position: absolute;
			top: 50%;
			right: -16px;
			margin-top: -18px;
			font-size: 10px;
			font-weight: 800;
			line-height: 14px;
			letter-spacing: 0em;
			text-align: center;
			background-color: #00C0F0;
			height: 17px;
			border-radius: 15px;
			padding: 1px 6px;
		}
	}
}

#mobile-primary-menu {

    position: fixed;
    right: 0;
    left: 0;
	top: 64px;
	.admin-bar & {
		top: 94px;
		@media (max-width: 782px) {
			top: 110px;
		}
	}


	bottom: 0;
	display: flex;
	flex-direction: column;
    background: $color__white;
    padding: 26px 0;
	transition: transform .6s ease-out;
	transform: translateX(150%);
	transition-delay: .3s;
	overflow: auto;

	* {
		-webkit-touch-callout: none;
	}

	.invisible { height: 0 }

	> li {
		opacity: 0;
		transition: opacity .3s ease-out;
		padding: 0 26px;
		cursor: pointer;
		margin: 5px auto;
		width: 100%;
		max-width: $width__desktop;
	}

	.show & {
		transform: translateX(0);
		transition-delay: 0s;
		> li {
			opacity: 1;
			transition-delay: .7s;
		}
	}

	:not(.has-button):not(.has-button-smaller) a {
		//white-space: nowrap;
		display: block;
		text-decoration: none;
		//font-weight: 600;
		padding: 10px 0;
	}

	.has-button:last-child,
	.has-button-smaller:last-child {
		margin: auto auto 0;
		text-align: center;
	}

	.sub-menu {
		padding-left: 20px;
	}

	.request-button {
		border-radius: 40px;
		text-align: center;
		margin: auto auto 0;
		width: auto;
		> a {
			@extend .request-hand-wave-button;
			display: inline-block !important;
			@media (max-width: $width__min) {
				width: calc(100vw - 40px);
			}
		}
		padding: 0;
	}

	.menu-item-has-children {
		> .sub-menu {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: opacity .1s ease;
			transition-delay: .3s;
		}
		> a {
			position: relative;
			display: inline-block !important;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 7px;
				right: -40px;
				transition: transform .3s ease;
				width: 30px;
				height: 30px;
				transform: rotate(-90deg);
				z-index: -1;
				background: transparent url('assets/chevron-down.svg') no-repeat center;
			}
		}
		&.touched {

			> a:after {
				transform: rotate(0deg);
			}

			> .sub-menu {
				height: auto;
				opacity: 1;
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		@media (max-width: $width__min) {
			flex-direction: column;
			grid-row-gap: 20px;
		}
	}

	.nav-previous {
		flex: 1 0 50%;
		text-align: center;
		white-space: nowrap;
		a {
			font-weight: 800;
			@extend .button-link-left;
		}
	}

	.nav-next {
		flex: 1 0 50%;
		text-align: center;
		white-space: nowrap;
		a {
			font-weight: 800;
			@extend .button-link-right;
		}
	}
}

.read-more {
	position: absolute;
	right: 30px; bottom: 30px;
	width: 46px; height: 46px;
	border-radius: 24px;
	background: transparent url('assets/read-more.svg') no-repeat center;
	border: 1px solid $color__secondary;
	transition: all .3s ease-in;
	&:hover, &:focus {
		background-color: $color__secondary;
		border-color: $color__secondary;
	}
}

.trp {
	&_language_switcher_shortcode {
		margin: 0 0 0 auto;
		padding-left: 24px;
		padding-left: clamp(12px, 1.5vw, 32px);
		position: relative;
		&:after {
			content: '';
			width: 24px;
			height: 24px;
			border: 1px solid #ccc;
			border-radius: 12px;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			background: transparent url("assets/chevron-down.svg") no-repeat center;
			background-size: 8px;
		}
	}
	&-language-switcher {
		width: auto;
		height: auto;
	}
	&-ls-shortcode-language,
	&-ls-shortcode-current-language {
		&, > a {
			padding: 0 !important;
			border: 0 !important;
			background: transparent !important;
		}
		> a {
			padding-right: 20px !important;
		}
	}
	&-flag-image {
		width: 31px !important;
		height: 16px !important;
		vertical-align: -3px !important;
	}
}
