.custom-horizontal-scroller {

    scrollbar-width: thin;
    scrollbar-color: $color__tertiary transparent;
    scroll-behavior: smooth;
    grid-gap: 0;
    -webkit-overflow-scrolling: auto;

    &.has-scroller {
        padding-bottom: 90px;
        box-shadow: 0 2px 0 4px $color__grey inset,
                    0 -2px 0 1px $color__primary inset;
    }

    @media (max-width: $width__mobile) {
        margin: $margin 0 0;
        padding-left: calc($margin / 2);
        box-shadow: none !important;
    }

    > * {
        max-width: 360px !important;
        padding-right: 90px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color__tertiary;
    }
}

.custom-horizontal-scroller--trigger {
    all: unset;
    position: absolute;
    padding: 0 !important;
    width: $margin;
    height: $margin;
    border-radius: calc($margin / 2);
    right: 5vw;
    margin-top: $margin * -1;
    outline: none;
    box-shadow: -40px 0 0 0 var(--color-grey),
                2.5vw 0 0 2.5vw var(--color-grey) !important;
    background: var(--color-secondary) no-repeat center url('assets/slider-arrow-right.svg') !important;
    background-size: 18px !important;
    &:hover {
        box-shadow: -40px 0 0 0 var(--color-grey),
                     2.5vw 0 0 2.5vw var(--color-grey),
                     -15px -15px 30px rgba(255,255,255,.2) inset !important;
    }
    &.reverse {
        transform: rotate(180deg);
        box-shadow: 40px 0 0 0 var(--color-grey),
                    -2.5vw 0 0 2.5vw var(--color-grey) !important;
        &:hover {
            box-shadow: 40px 0 0 0 var(--color-grey),
                        -2.5vw 0 0 2.5vw var(--color-grey),
                        -15px -15px 30px rgba(255,255,255,.2) inset !important;
        }
    }
    @media (max-width: $width__mobile) {
        margin-top: -60px;
        width: 45px;
        height: 45px;
    }
}

@-moz-document url-prefix() {
    .custom-horizontal-scroller.has-scroller {
        box-shadow: 0 -2px 0 1px var(--color-grey) inset,
                     0 -3px 0 1px var(--color-primary) inset;
    }
}
