.search-field {
    background: $color__white url(assets/search-icon.svg) left center no-repeat;
}

.search-form {

    flex-shrink: 0;

    & {
        overflow: hidden;
        width: 38px;
        height: 38px;
        border-radius: 18px;
        background: $color__secondary url(assets/search-icon.svg) center no-repeat;
        cursor: pointer;
        > * {
            position: absolute;
            right: 100px;
            margin-top: 0px;
            z-index: -1;
            opacity: 0;
            transition: none;
        }
    }
    &.active {

        overflow: visible;
        position: relative;

        > * {
            z-index: 1;
            opacity: 1;
            margin-top: 160px;
            transition: margin-top .2s ease, opacity .4s ease;
            transition-delay: .4s;
        }

        label {
            max-width: $width__desktop - 200px;
            width: calc(100vw - 260px);
            border-radius: 5px;
            background: $color__white;
            box-shadow: 0 0 0 $margin $color__white,
                    -50px 0 0 $margin $color__white,
                    50px 0 0 $margin $color__white;
        }

        .search-field {
            width: calc(100% - 180px);
            border-radius: 0;
            padding-left: 30px;
            border-width: 0 0 1px 0;
        }
    }
}

.mobile-search-form {

    label {
        padding-top: 70px;
        display: block;
    }

    .search-field {
        width: 100%;
        border: 0;
        padding-left: 50px;
        background-position-x: 20px;
    }

    .search-submit {
        display: block;
        margin: 32px auto 0;
    }
}
