.mx-add-domains-wrapp {
    display: flex;
    align-items: stretch !important;
    margin-top: 30px;
    & > div {
        flex: 1;
    }
}

.button-right-arrow,
.wrap-button-right-arrow a {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px 30px 10px 0px;
	color: #090F20;
	text-decoration: none;
	background-image: url('./assets/images/Arrow-Right.png');
}