/*
.services-items-section {
    & > div {
        border-bottom: 2px solid rgba(9, 15, 32, .4);
        padding: 16px 0px;
    }
}
.transparent-button .wp-block-button__link {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	border: 1px solid #707380;
	padding: 20px 30px;
	background: transparent;
	border-radius: 60px;
	position: relative;
	padding-right: 56px;
	&:after {
		content: '';
		position: absolute;
		background-image: url('./assets/images/arrow-to-right.webp');
		background-repeat: no-repeat;
		width: 22px;
		height: 18px;
		background-size: contain;
		right: 24px;
		transition: .2s;
	}
	&:hover {
		background: transparent;
		&:after {
			right: 9px;
		}
	}
}
*/
