/*.page-content .mx-full-size-section {
    max-width: 100%;
    width: 100%;
    & > div {
        max-width: 1224px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 60px);
    }
}*/
.mx-side-image-section {
    position: relative;
    z-index: 1;
    //background: #F5F3F2;
    //padding: 84px 0px 0;
    /*& h2 {
        font-size: 55px;
        font-weight: 800;
        line-height: 61px;
        margin-top: -2px;
        max-width: 500px;
    }
    & p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        margin-top: 41px;
        max-width: 500px;
    }*/
    & .tns-inner .tns-item.wp-block-columns {
        display: inline-flex;
        align-items: flex-start !important;
        @media (max-width: $width__desktop) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (max-width: $width__min) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    & .tns-controls {
        display: none;
    }
    & .tns-nav {
        position: absolute;
        z-index: 9;
        margin: -80px 0 0 0;
        @extend .wrapped-by-padding;
        @media (max-width: $width__mobile) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: -50px 0;
        }
        //left: 0;*/
        & button[data-nav] {
            @extend .tns-nav-dot;
        }
        &.disabled {
            display:none;
        }
    }
    /*.mx-side-image-slider {
        //display: flex;
        & > div {
            padding-bottom: 48px;
        }
        & img {
            width: 100%;
        }
    }*/
    .tns-outer {
        position: relative;
        max-width: none !important;
    }
    .tns-ovh {
        overflow: visible;
    }
    .tns-inner {
        //overflow-x: hidden;
    }
    figure + blockquote {
        width: 100%;
        max-width: 562px;
        margin-top: -128px;
        margin-left: -146px;
        margin-bottom: -76px;
        @media (max-width: $width__desktop) {
            margin-top: -80px;
            margin-left: -80px;
        }
        @media (max-width: $width__mobile) {
            margin-left: 0;
            margin-top: -32px;
            margin-bottom: -55px;
            padding: 33px 21px;
            max-width: 92%;
        }
        /*&:before {
            content: '';
            background: center no-repeat url(assets/blockquote-blue.svg);
        }*/
        /*& p {
            font-size: 23px;
            font-weight: 800;
            line-height: 28px;
            margin-bottom: 24px;
        }*/
    }
}
/*
@media (max-width: 1224px) {
    blockquote {
        margin-left: -80px;
    }
}*/
/*
@media (max-width: 1020px) {
    .mx-side-image-section .tns-nav {
        bottom: 88px;
    }
}
@media (max-width: 992px) {
    .mx-side-image-section {
        & h2 {
            font-size: 35px;
            font-weight: 800;
            line-height: 39px;
        }
        & p {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
        & .wp-block-spacer {
            display: none;
        }
        & blockquote {
            margin-left: 0;
            padding: 33px 21px;
            max-width: 92%;
            & p {
                font-size: 16px;
                line-height: 19px;
            }
            & cite {
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
            }
        }
        & blockquote:before {
            margin-bottom: 20px;
        }
        & .tns-nav {
            bottom: 0;
        }
    }
}*/
@media (max-width: 768px) {
    .mx-side-image-section {
        //padding: 62px 0px;
        //padding-bottom: 0px;
        /*& h2 {
            max-width: 100%;
        }
        & p {
            max-width: 100%;
            margin-top: 0;
        }
        & blockquote {
            &:before {
                background-size: contain;
            }
        }*/
        /*& blockquote {
            margin-top: -32px;
            margin-top: -32px;
            -webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.23);
            -moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.23);
            box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.23);
            filter: none;
        }*/
        /*& .tns-ovh {
            margin-bottom: -90px;
        }*/
        /*
        & .mx-side-image-slider {
            & .wp-block-columns {
                & .wp-block-column:last-child {
                    padding-top: 46px;
                }
            }
        }*/
    }
}

.wp-block-post-content .mx-side-image-slider {
    flex-direction: column;
    > * {
        @include editor-hidden('edit slide');
        margin-top: 20px;
        &:not(.is-selected):not(.has-child-selected) {
            padding: 0 !important;
        }
        blockquote {
            margin-bottom: 40px !important;
        }
    }
}
