.trp {
	&_language_switcher_shortcode {
		padding-left: 24px;
		padding-left: clamp(12px, 1.5vw, 32px);
		position: relative;
		margin: 0 0 0 auto;
		.site-header.mobile & {
			margin: 0;
		}
	}
	&-language-switcher {
		width: auto;
		height: auto;
		//padding-right: 40px;
	}
	&-ls-shortcode-language,
	&-ls-shortcode-current-language {

		overflow: visible !important;
		position: relative;

		&, > a {
			border: 0 !important;
			background: transparent !important;
			z-index: 2;
			display: block;
			white-space: nowrap;
			line-height: 1;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		}

		a > * {
			pointer-events: none;
		}

		a[href="javascript:void(0)"],
		a[href="#"] {
			order: -1;
			color: inherit !important;
			&:after {
				content: '';
				width: 24px;
				height: 24px;
				border: 1px solid #ccc;
				border-radius: 12px;
				display: inline-block;
				background: transparent url('assets/chevron-down.svg') no-repeat center;
				background-size: 8px;
				margin-left: 6px;
				vertical-align: -6px;
			}
			&.is-clicked ~ a:not([href="javascript:void(0)"]):not([href="#"]) {
				position: relative;
				display: block;
			}
		}

		a:not([href="javascript:void(0)"]):not([href="#"]) {
			position: absolute;
			display: none;
			width: 100%;
			padding: 4px 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $BG__White !important;
				box-shadow: 0 -5px 0 13px $BG__White;
				border-radius: 5px;
				a:not([href="javascript:void(0)"]):not([href="#"]) {
					position: relative;
					display: block;
				}
			}
		}
	}
	&-ls-shortcode-language {
		display: grid !important;
	}
	&-flag-image {
		vertical-align: -2px;
		margin-right: 6px;
	}
}
