.custom-tabs-container {

}

.custom-tabs {

    @extend .overflow-x-auto, .no-scrollbar, .wrapped-by-padding;
    max-width: none !important;
    justify-content: space-between;

    > * {

        text-align: center;
        cursor: pointer;
        flex-basis: content !important;

        @media (max-width: $width__desktop) {
            white-space: nowrap;
            flex-shrink: 0;
        }

        > * {
            color: $Text__Tertiary;
            margin: 0 auto;
            display: inline-block;
            border-bottom: 1px dashed;
            transition: color .2s ease;
        }

        &.active > * {
            color: $Text__Primary;
        }
    }
}

.custom-tabs-content--active {
    position: relative;
    z-index: 1;
    transform: translateY(0%);
    opacity: 1;
    display: block;
    transition: transform 1s ease, opacity 1s ease;
    transition-delay: .1s, .5s;
    min-height: 33vh;
}

.custom-tabs-content {

    > * {
        position: absolute;
        z-index: -1;
        opacity: 0;
        transform: translateY(-50%);
    }
    > .active {
        @extend .custom-tabs-content--active;
    }
}

.wp-block-post-content .custom-tabs-content {
    > * {
        @extend .custom-tabs-content--active;
        @include editor-hidden('edit tab content');
        margin-top: 20px;
        min-height: 100px;
    }
}
