.type-job {

    position: relative;
    border-radius: 20px;
    background: $color__grey url(assets/zigzag-job.svg) no-repeat right bottom;
    margin-left: 0;
    margin-right: 0;
    width: calc(33.3% - 28px);
    @media (max-width: $width__min) {
        width: 90%;
    }
    min-width: 320px;
    max-width: 400px;

    @media (max-width: 740px) {
        margin-left: auto;
        margin-right: auto;
    }

    .job-title {
        @extend h3;
        display: block;
        border-radius: 20px 20px 0 0;
        margin: 0;
        padding: 40px;
        background-color: $color__primary;
        color: $color__white;
    }

    .job-tags {
        margin: 40px 20px 86px;
        line-height: 2.5;
    }

    .read-more {
        background-color: transparent;
        &:hover, &:focus { background-color: $color__secondary; }
    }
}
