.type-post {

    @import '../meta';

    & + * {
        margin-top: 64px;
        @media (max-width: $width__mobile) {
            margin-top: 40px;
        }
    }

    .post-meta {
        @extend .mobile-meta;
    }

    .post-title {
        @extend h5;
        max-height: 114px;
        margin-bottom: 24px;
    }

    .post-excerpt {
        color: $Text__Secondary;
        margin: 24px 0;
    }

    @media (max-width: $width__mobile) {
        
        display: flex;
        flex-direction: column;

        .post-title {
            max-height: 100vh !important;
        }

        .post-excerpt {
            margin: 0;
        }

        .post-meta {
            order: 3;
            margin-top: 24px;
        }
    }
}
