html, body {
	//background: $color__background-body;
	height: 100%;
}

::-moz-selection {
  background-color: $Primary__150;
  color: $Text__White;
}
::selection {
  background-color: $Primary__150;
  color: $Text__White;
}

body {
  --color-primary: #{$color__primary};
  --color-secondary: #{$color__secondary};
  --color-orange: #{$color__secondary};
  --color-dark-blue: #{$color__primary};
  --color-light-blue: #{$color__tertiary};
  --color-grey: #{$color__grey};
  --color-red: #{$color__red};
  --content-width: #{$width__desktop};
  --offset__header: #{$offset__header};
  --mobile_offset__header: #{$mobile_offset__header};
}

body.admin-bar {
  //--offset__header: #{$offset__header + 32};
  --mobile_offset__header: #{$mobile_offset__header + 32};
  @media (max-width: 782px) {
    --mobile_offset__header: #{$mobile_offset__header + 46};
  }
}

html, body, * {
  scrollbar-width: thin;
  scrollbar-color: #{$color__primary} transparent;
}

::-webkit-scrollbar {
    width: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #{$color__primary};
}
