.button,
.wp-element-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .base-button-style;
}

.button-smaller {
	@extend .base-button-style;
	padding: 12px 40px !important;
}

.has-button > :not(.components-button):not(.acf-button) {
	@extend .base-button-style;
	font-weight: 700 !important;
}

.has-button-smaller > :not(.components-button):not(.acf-button) {
	@extend .button-smaller;
	font-weight: 700 !important;
}

body .wp-element-button,
body .wp-block-button__link {
	color: $color__primary;
	background-color: $color__secondary;
}
.transparent-button {
	a {
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		border: 1px solid #707380;
		padding: 20px 30px;
		background: transparent;
		border-radius: 60px;
		position: relative;
		padding-right: 56px;
		&:after {
			content: '';
			position: absolute;
			background-image: url('./assets/images/arrow-to-right.webp');
			background-repeat: no-repeat;
			width: 22px;
			height: 18px;
			background-size: contain;
			right: 24px;
			transition: .2s;
		}
		&:hover {
			background: transparent;
			&:after {
				right: 9px;
			}
		}
	}
}