h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__primary;
	font-family: 'Halvar Breit Md', $default__fonts;
	clear: both;
	letter-spacing: 0em;
}

@mixin responsive-heading($fs) {
	font-size: #{$fs * 1px};
	font-weight: 500;
	line-height: 1.2;
	margin: #{$fs * .5px} 0;
	@media (max-width: $width__mobile) {
		font-size: #{$fs * .8px};
		margin: #{$fs * .4px} 0;
	}
	@media (max-width: $width__min) {
		font-size: #{$fs * .6px};
		margin: #{$fs * .3px} 0;
	}
}

h1 {
	@include responsive-heading(80);
}

h2 {
	@include responsive-heading(60);
}

h3 {
	@include responsive-heading(50);
}

h4 {
	@include responsive-heading(40);
}

h5 {
	@include responsive-heading(32);
}

h6 {
	@include responsive-heading(24);
}

.hero {
	font-size: 75px;
	font-weight: 800;
	line-height: 1.1;
	margin: 35px 0;
	@media (max-width: $width__mobile) {
		font-size: 50px;
	}
	@media (max-width: $width__min) {
		font-size: 40px;
	}
}

.big-text {
	font-size: 55px;
	font-weight: 400;
	line-height: 1.3;
	@media (max-width: 1080px) {
		font-size: 45px;
	}
	@media (max-width: $width__mobile) {
		font-size: 35px;
	}
}

.big-heading {
	font-size: 60px;
	font-weight: 700;
	line-height: 69px;
	letter-spacing: 0em;
	@media (max-width: $width__mobile) {
		font-size: 30px;
		line-height: 39px;
	}
	@media (max-width: $width__min) {
		font-size: 20px;
		line-height: 29px;

	}
}

.quote {
	@extend h3;
}

.subheading {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.3;
}

.description {
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

body {
	--wp--preset--font-size--small: 13px;
	--wp--preset--font-size--medium: 20px;
	--wp--preset--font-size--large: 55px;
	--wp--preset--font-size--x-large: 75px;
	@media (max-width: $width__mobile) {
		--wp--preset--font-size--medium: 18px;
		--wp--preset--font-size--large: 40px;
		--wp--preset--font-size--x-large: 55px;
	}
	@media (max-width: $width__min) {
		--wp--preset--font-size--medium: 14px;
		--wp--preset--font-size--large: 30px;
		--wp--preset--font-size--x-large: 45px;
	}
}
