h1, h2, h3, h4, h5, h6, .h7, .h8 {
	color: $color__primary;
	font-family: 'Halvar Breit Md', $default__fonts;
	font-weight: 500;
	clear: both;
	letter-spacing: 0em;
	line-height: 1.2;
}

.bolder {
	font-family: 'Halvar Breit Md', $default__fonts;
}

@mixin responsive-heading($fs, $mobile, $min) {
	font-size: #{$fs}px;
	margin-top: #{$fs * .5}px;
	margin-bottom:  #{$fs * .5}px;
	&:not(.not-responsive) {
		@media (max-width: $width__mobile), (max-height: $height__mobile) {
			font-size: #{$fs * $mobile}px;
			margin-top: #{$fs * calc($mobile / 2)}px;
			margin-bottom:  #{$fs * calc($mobile / 2)}px;
		}
		@media (max-width: $width__min), (max-height: 400px) {
			font-size: #{$fs * $min}px;
			margin-top: #{$fs * calc($min / 2)}px;
			margin-bottom:  #{$fs * calc($min / 2)}px;
		}
	}
}

h1 { @include responsive-heading(80, .7, .5); }
h2 { @include responsive-heading(60, .75, .55); }
h3 { @include responsive-heading(50, .75, .55); }
h4 { @include responsive-heading(40, .75, .55); }
h5 { @include responsive-heading(32, .8, .7); }
h6 { @include responsive-heading(24, .9, .8); }
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }
.h7 { @include responsive-heading(20, .9, .8); }
.h8 { @include responsive-heading(18, .9, .8); }
.quote { @extend h3; }

.hero {
	font-size: 75px;
	font-weight: 800;
	line-height: 1.1;
	margin: 35px 0;
	@media (max-width: $width__mobile) {
		font-size: 50px;
	}
	@media (max-width: $width__min) {
		font-size: 40px;
	}
}

.big {
	&-text {
		font-weight: 400;
		line-height: 1.3;
		font-size: 55px;
		@media (max-width: $height__hd) {
			font-size: 45px;
		}
		@media (max-width: $width__mobile) {
			font-size: 35px;
		}
	}
	&-heading {
		font-weight: 700;
		letter-spacing: 0em;
		font-size: 60px;
		line-height: 69px;
		@media (max-width: $width__mobile) {
			font-size: 30px;
			line-height: 39px;
		}
		@media (max-width: $width__min) {
			font-size: 20px;
			line-height: 29px;
		}
	}
}

.subheading {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.3;
}

.description {
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
}
