/**
* Editor Style
*/

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container .wp-block-mxltcs-main-banner,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container .mxltcs-main-banner-wrapper {
	max-width: 100% !important;
}
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container .mxltcs-main-banner-wrapper .block-editor-inner-blocks {
	max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}