/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mx-ssr-block-wrapper {
	width: 40px;
	height: 40px;
	background-color: green;
	margin: 10px;
}
