/********** Fonts **********/
@font-face {
	font-family: 'HalvarBreit';
	src: url("./assets/fonts/HalvarBreit/HalvarBreit.eot");
	src: url("./assets/fonts/HalvarBreit/HalvarBreit.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/HalvarBreit/HalvarBreit.woff2") format("woff2"), url("./assets/fonts/HalvarBreit/HalvarBreit.woff") format("woff"), url("./assets/fonts/HalvarBreit/HalvarBreit.ttf") format("truetype"), url("./assets/fonts/HalvarBreit/HalvarBreit.svg#HalvarBreit") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100vw - 60px);
}

@media (max-width: 480px) {
	.wrapper {
		width: calc(100vw - 30px);
	}
}

.base-font-setting {
	color: #090F20;
	font-family: "HalvarBreit";
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

.base-input-style {
	appearance: none;
	color: #090F20;
	background: #FFFFFF;
	padding: 13px;
	outline: none;
	font-size: 18px;
	border: 1px solid #090F20;
	border-radius: 5px;
	height: 55px;
}

.border-bottom .base-input-style, .base-input-style.border-bottom {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 0;
}

.no-border-radius .base-input-style, .base-input-style.no-border-radius {
	border-radius: 0;
}

.height-40 .base-input-style, .base-input-style.height-40 {
	height: 40px;
}

.base-input-style::placeholder {
	color: rgba(9, 15, 32, 0.6);
	opacity: 1;
}

.pill {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	transition: background .3s ease-in;
}

.pill:hover, .pill:focus, .pill.active {
	background: #FF7733;
}

.base-button-style {
	display: inline-block;
	border: 0;
	border-radius: 8px;
	background-color: #FF7733;
	color: #090F20;
	background-size: 300%;
	line-height: 1;
	font-weight: 800;
	padding: 18px 40px;
	cursor: pointer;
	box-shadow: none;
	transition: background-color 1s ease-out;
}

.base-button-style:hover, .base-button-style:active, .base-button-style:focus {
	background-color: #ff9966;
}

.base-button-style a {
	color: inherit;
}

.no-scrollbar, .wp-block.jobs:not(.on-page-for-jobs) .post-list {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar, .wp-block.jobs:not(.on-page-for-jobs) .post-list::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

.no-scrollbar::-webkit-scrollbar-track, .wp-block.jobs:not(.on-page-for-jobs) .post-list::-webkit-scrollbar-track {
	background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb, .wp-block.jobs:not(.on-page-for-jobs) .post-list::-webkit-scrollbar-thumb {
	background-color: transparent;
}

@media (max-width: 781px) {
	.mobile-dark-blue-dim-top .has-background-dim {
		box-shadow: 0 310px 20px -40px var(--color-primary) inset;
		opacity: 1 !important;
		background-color: transparent !important;
	}
	.mobile-dark-blue-dim-top .wp-block-cover__image-background {
		background-color: var(--color-primary);
		padding-top: 240px;
	}
}

.tns-nav-dot {
	all: unset;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0px 15px;
	border: 1px solid #090F20;
	background-color: white;
}

.tns-nav-dot.tns-nav-active {
	border-color: #FF7733;
	background-color: #FF7733;
}

.wp-block.jobs:not(.on-page-for-jobs) .post-list {
	flex-wrap: nowrap;
	overflow: auto;
}

.wp-block.jobs:not(.on-page-for-jobs) .post-list > * {
	flex-shrink: 0;
}

@media (max-width: 1320px) {
	.wp-block.jobs:not(.on-page-for-jobs) {
		margin-left: 0;
		width: 100vw;
	}
	.wp-block.jobs:not(.on-page-for-jobs) .post-list {
		width: 100vw;
		padding: 0 30px;
		max-width: none !important;
	}
}

@media (max-width: 480px) {
	.wp-block.jobs:not(.on-page-for-jobs) .post-list {
		padding: 0 15px;
	}
}

/*# sourceMappingURL=style.css.map */