@import "../../generic/abstracts";
@import "../../generic/elements/headings";

.contact-section {

    background-color: $color__light-blue;
    &.orange {
        background-color: $color__secondary;
    }

    position: relative;
    overflow: visible;
    background-image: url('../../assets/zigzag.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    max-width: $width__desktop !important;
    border-radius: 20px;

    @media (max-width: $width__mobile) {
        flex-direction: column-reverse;
        background-position: calc(100% + 50px) bottom;
    }

    @media (max-width: $width__min) {
        width: 100% !important;
        border-radius: 0;
    }

    > img {

        position: relative;
        z-index: 1;
        width: 40% !important;
        align-self: flex-end;

        @media (max-width: $width__mobile) {
            display: none;
        }
    }

    &--content {
        flex: 1;
        position: relative;
        align-self: center;
        z-index: 1;
        padding: 40px 4% 40px 6%;

        @media (max-width: $width__mobile) {
            padding: 40px;
        }
        @media (max-width: 680px) {
            align-self: stretch;
        }
        @media (max-width: $width__min) {
            padding: 40px 20px;
        }
    }

    &--text {
        @extend .h1;
        line-height: 1;
    }

    &--links {
        margin: 40px 0 30px;
    }

    &--link {
        display: inline-block;
        background-color: $color__white !important;
        &:not(.has-text) {
            padding: 10px 0;
            width: 46px;
            text-align: center;
            border-radius: 23px;
            i {
                font-size: 21px;
                vertical-align: -2px;
            }
        }
        &.has-text {
            padding: 10px 24px;
            border-radius: 8px;
            i {
                color: $color__secondary;
            }
        }
        span {
            font-weight: 800;
        }

        margin-bottom: 16px;
        margin-right: 16px;
        
        i + span {
            margin-left: 12px;
        }
    }

    .acf-block-preview & {
        i[class*="fa-"] {
            font-style: normal;
        }
    }
}
