#services {
	li {
		margin: 40px 0 80px 0;
		line-height: 1.5;
		
		a:empty { display: none }
		
		&:last-child::after,
		&:not(:first-child)::before {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			width: 100%;
			border-top: $border__grey;
		}
		
		&:last-child::after {
			margin-top: 40px;
		}
		
		&:not(:first-child)::before {
			margin-top: -40px;
		}

		@media (max-width: $width__mobile), (max-height: $height__mobile) {

			margin: 20px 0 40px 0;
			padding-right: 50px;
			
			&:last-child::after {
				margin-top: 20px;
			}
			
			&:not(:first-child)::before {
				margin-top: -20px;
			}
		}
	}
}
