#services {
	li {
		margin: 40px 0 80px 0;
		@media (max-width: $width__mobile), (max-height: $height__mobile) {
			margin: #{$margin / 2} 0 $margin 0;
		}
		&:last-child::after,
		&:not(:first-child)::before {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			width: 100%;
			border-top: $border__grey;
		}
		&:last-child::after {
			margin-top: 40px;
			@media (max-width: $width__mobile), (max-height: $height__mobile) {
				margin-top: #{$margin / 2};
			}
		}
		&:not(:first-child)::before {
			margin-top: -40px;
			@media (max-width: $width__mobile), (max-height: $height__mobile) {
				margin-top: #{$margin * -1};
			}
		}
	}
}
