.wrapper {
	max-width: $width__desktop;
	margin-left: auto;
	margin-right: auto;
	width: calc(100vw - #{$margin});
	@media (max-width: $width__min) {
		width: calc(100vw - #{calc($margin / 2)});
	}
}

.wrapper-wider {
	@extend .wrapper;
	max-width: $width__wide;
}

.wrapper-narrow {
	max-width: $width__narrow;
	margin-left: auto;
	margin-right: auto;
}
