@mixin case-study-color($color) {
    background: $color;
    color: black;
    border-color: $color;
}

.wp-block-case-studies {

    @media (max-width: $width__min) {
        padding: 0 !important;
    }

    > [id^="case_studies_"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7.5vw;
        gap: clamp(20px, 7.5vw, 100px);
        @media (max-width: $height__mobile) {
            gap: 100px;
        }
        @media (max-width: $width__min) {
            gap: 0;
            flex-direction: column;
            overflow: hidden !important;
        }
    }

    overflow-x: clip;
    overflow-y: visible;

    .case-study {

        position: relative;
        display: inline-block;
        flex-shrink: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        cursor: pointer;

        &:nth-child(odd) > * {
            max-width: 530px;
        }
        &:nth-child(even) > * {
            max-width: 320px;
        }

        @media (max-height: 900px) {
            &:nth-child(odd) > * {
                max-width: 320px;
            }
            &:nth-child(even) > * {
                max-width: 240px;
            }
        }

        @media (max-width: $height__mobile) {
            padding-top: 10px;
            padding-bottom: 10px;
            width: calc(80vw - 100px);
        }

        @media (max-width: $width__min) {
            width: calc(100vw - 30px);
            padding: 10px;
            > * { max-width: none !important; }
        }

        .wp-post-image {
            display: block;
            aspect-ratio: 4 / 5;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--hover-image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: auto;
            opacity: 0;
            z-index: -1;
            transition: transform .2s ease-in, opacity .4s ease;
        }

        &--industry {
            position: absolute;
            right: 0;
            top: 0;
            transform-origin: top right;
            transform: rotate(-90deg);
            text-transform: uppercase;
            white-space: nowrap;
            &:before {
                content: '•';
                margin-right: 5px;
            }
        }

        &--tags span {
            display: inline-block;
            border: 1px solid black;
            margin: 0 10px 10px 0;
            padding: 6px 8px;
            transition: all .2s ease;
            &:first-child {
                background: black;
                color: white;
            }
        }

        &--container {
            position: relative;
            aspect-ratio: 3 / 4;
            @media (max-height: $height__hd) and (min-width: $width__min) {
                max-height: 70vh;
            }
        }

        &--content {
            position: relative;
            overflow: hidden;
            max-height: 70vh;
            @media (min-height: $height__hd) {
                max-height: 650px;
            }
            @media (max-width: $width__min) {
                img {
                    width: 100%;
                }
            }
        }

        &--hover-content {
            opacity: 0;
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 10px;
            padding: 0 40px 30px 40px;
            @media (max-height: 900px) {
                padding: 0 20px 15px 20px;
                font-size: 14px;
            }
            max-height: calc(100% - 20px);
            background: black;
            transform: translateY(50%);
            transition: transform .2s ease-in, opacity .4s ease;
            overflow: auto;
            > * {
                color: white;
                margin-top: 30px;
            }
        }

        &--read-more {
            display: inline-block;
            padding: 5px 30px 5px 0;
            background: transparent url(../../assets/images/arrow-right-in-circle-white.svg) right center no-repeat;
        }

        &:hover,
        &.highlight {
            .case-study {
                &--hover-image {
                    transform: scale(1.4);
                    opacity: 1;
                }
                &--industry {
                    opacity: .5;
                }
                &--hover-content {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
            &.style-0 .case-study--tags a {
                @include case-study-color(#F84F3A)
            }
            &.style-1 .case-study--tags a {
                @include case-study-color(#5B9DFF)
            }
            &.style-2 .case-study--tags a {
                @include case-study-color(#E46EC3)
            }
            &.style-3 .case-study--tags a {
                @include case-study-color(#6A67DB)
            }
            &.style-4 .case-study--tags a {
               @include case-study-color(#97DF02)
            }
            &.style-5 .case-study--tags a {
                @include case-study-color(#FFBC4B)
            }
        }
    }
}
