&-query-pagination {

    &-numbers {
        @extend .hidden-scrollbar;
        white-space: nowrap;
        max-width: calc(100% - 100px);
        overflow: auto;
        margin: 0 !important;
        > *:not(.disabled) {
            margin: 0 4px !important
        }
    }

    &-previous {
        margin: 0 4px 0 0 !important;
        border-color: $BG__Grey;
        background: $BG__Grey;
        padding: 8px 6px 2px;
        width: 36px;
        height: 36px;
        &-arrow {
            font-size: 0;
			svg path {
				stroke: $Text__Primary;
				stroke-width: 1.5
			}
        }
    }

    &-next {
        margin: 0 0 0 4px !important;
        border-color: $BG__Grey;
        background: $BG__Grey;
        padding: 8px 6px 2px;
        width: 36px;
        height: 36px;
        &-arrow {
            font-size: 0;
			svg path {
				stroke: $Text__Primary;
				stroke-width: 1.5
			}
        }
    }
}
