.single article.job {

    .entry-header {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;

        &--container {
            position: relative;
            margin-top: 160px;
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                width: 50vw;
                transform: translateX(-99.9%);
                background-color: $color__white;
            }
        }

        &--content {
            @media (min-width: $width__mobile) {
                max-width: 60%;
            }
            background-color: $color__white;
            padding: 50px 100px 0 0;
            border-radius: 0 20px 0 0;
        }

        .entry-title {
            margin-top: 0;
            margin-bottom: 40px;
            position: relative;
            z-index: 1;
            text-shadow: 1px 0 1px $color__white,
                         0 1px 1px $color__white,
                         0 -1px 1px $color__white,
                         -1px 0 1px $color__white;
        }

        .entry-excerpt {
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            position: relative;
            z-index: 1;
            p:last-child {
                margin-bottom: 0;
            }
        }

        .entry-tags {
            color: $color__secondary;
            font-weight: 400;
            a {
                margin: 0 2px;
                font-weight: 700;
            }
        }

        /*.entry-thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: none;
            width: 100vw;
        }*/
    }
}
