.single {

    article.post {

        @import '../meta';

        .entry-header {

            @extend .wrapper-narrow;

            .entry-title {
                @extend h5;
                margin-top: 32px !important;
                margin-bottom: 32px !important;
            }


            .entry-meta {
                @extend .mobile-meta;
            }
        }

        .entry-content {

           max-width: 644px;
           margin: 0 auto;

            h1, h2, h3, h4, h5 {
                @extend h6;
                @media (min-width: 1024px) {
                    margin-top: 64px;
                }
            }

            p, ul, ol, li {
                margin-bottom: 1rem;
                color: $Text__Secondary;
                + p, + ul, + ol, + li {
                    margin-top: 0;
                }
            }
        }

        .entry-footer {

            max-width: 644px;
            margin: 76px auto 0;

            @media (max-width: 1024px) {
                margin-top: 46px;
            }

            .entry-categories {
                a:first-child {
                    @extend .pill.active;
                }
            }
        }

        .entry-author {

            margin-top: 120px;

            @media (max-width: $width__mobile) {
                margin-top: 80px;
            }

            &__heading {

                @extend h5;
                margin-bottom: 36px !important;
            }

            .author {

                img {
                    width: 64px;
                    height: 64px;
                    margin-right: 24px;
                }

                &Name {
                    @extend h6;
                    line-height: 1.5;
                }

                &Position {
                    color: inherit;
                }

                &SocialLinks {

                }

                + .extended {

                    padding-left: 88px;

                    @media (max-width: $width__mobile) {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .related-entries {

        @extend .wrapper-narrow;

        margin-top: 120px;

        @media (max-width: $width__mobile) {
            margin-top: 80px;
        }

        &__heading {
            @extend h5;
            margin-bottom: 36px !important;
        }

        .posted-in a:first-child {
            @extend .pill.active
        }
    }

    .related-links {
        background-color: $BG__Grey;
        padding: 16px 16px 0;
        margin-bottom: 8px;

        &__heading {
            @extend .h7;
        }

        ul {

            list-style: none;
            padding: 0;

            li {
                a {
                    @extend .button-right-arrow;
                    color: $Primary__150;
                    font-size: 18px;
                    padding: 12px 20px 12px 0;
                    display: block;
                }
                + li {
                    border-top: $border__grey;
                }
            }
        }
    }

}
