@import '../../generic/abstracts';

.blue-wave-background {

    position: absolute;
    width: 100vw;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    //height: 1px;
    left: 0;
    z-index: -2;

    &--wrapper {
        z-index: -2;
		height: 100%;
        transform: translateY(-50%);
        width: 100vw;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
    }

    img {
		opacity: 0;
        max-width: none;
        width: 100%;
        z-index: -4;
        position: relative;
        @media (max-width: $width__mobile) {
            width: 200%;
        }
        @media (max-width: $width__min) {
            width: 300%;
        }
        &[src$="blue-wave-2.svg"] {
            float: right;
        }
    }

	&--ready & img {
		opacity: 1;
		transition: opacity .6s ease,
					transform .5s ease;
	}

    .wp-block-cover & {
        margin-left: calc((100vw - #{$width__desktop}) / 2 * -1);
        @media (max-width: $width__desktop) {
            margin-left: 0;
        }
    }

	&--overlay {
		width: 100vw !important;
		position: absolute !important;
		max-width: none !important;
		background: rgba($color__white, .95);
		height: 100%;
		top: 0;
		z-index: -1;
		.wp-block-cover + & {
			top: auto;
			z-index: 1;
			~ :not(.blue-wave-background) {
                position: relative;
                z-index: 2;
            }			
		}
	}
}

[class*="blue-wave-background"].block-editor-block-list__block {

    max-width: none !important;
    z-index: 0 !important;
	margin: 0 !important;

    .acf-block-preview {
		min-height: 0;
        img {
            z-index: -2;
			opacity: .3;
        }
    }
}
